<div class="audio-player">
    <audio id="audio-file" preload="metadata">
        <source src="audio/romeinsegrensinnederland.mp3" type="audio/mp3">
    </audio>
    <div class="audio-controls">
        <button class="go-back-icon icon">
            <svg width="27" height="31" viewBox="0 0 27 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M5.59383 9.80145C3.67693 11.6553 2.49874 14.1424 2.27846 16.7999C2.05818 19.4575 2.8108 22.1046 4.39631 24.2488C5.98181 26.3929 8.29223 27.8881 10.8977 28.4561C13.5032 29.0242 16.2263 28.6264 18.5604 27.3368C20.8946 26.0472 22.6807 23.9536 23.5867 21.4455C24.4926 18.9374 24.4566 16.1856 23.4853 13.7021C22.514 11.2186 20.6736 9.17246 18.3065 7.94441C15.9394 6.71636 13.2068 6.39001 10.6171 7.02608M10.6171 7.02608L16.4145 2.47943M10.6171 7.02608L16.4145 11.2251"
                    stroke="#7E7E7E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M8.95312 14.1875C9.22331 14.1875 9.4528 14.2835 9.6416 14.4756C9.83366 14.6644 9.92969 14.8939 9.92969 15.1641V21.0234C9.92969 21.2936 9.83366 21.5247 9.6416 21.7168C9.4528 21.9056 9.22331 22 8.95312 22C8.68294 22 8.45182 21.9056 8.25977 21.7168C8.07096 21.5247 7.97656 21.2936 7.97656 21.0234V16.1406C7.70638 16.1406 7.47526 16.0462 7.2832 15.8574C7.0944 15.6654 7 15.4342 7 15.1641C7 14.8939 7.0944 14.6644 7.2832 14.4756C7.47526 14.2835 7.70638 14.1875 7.97656 14.1875H8.95312ZM14.8125 22C13.735 22 12.8138 21.6191 12.0488 20.8574C11.2871 20.0924 10.9062 19.1712 10.9062 18.0938C10.9062 17.0163 11.2871 16.0967 12.0488 15.335C12.8138 14.57 13.735 14.1875 14.8125 14.1875C15.89 14.1875 16.8096 14.57 17.5713 15.335C18.3363 16.0967 18.7188 17.0163 18.7188 18.0938C18.7188 19.1712 18.3363 20.0924 17.5713 20.8574C16.8096 21.6191 15.89 22 14.8125 22ZM14.8125 20.0469C15.3529 20.0469 15.8135 19.8564 16.1943 19.4756C16.5752 19.0947 16.7656 18.6341 16.7656 18.0938C16.7656 17.5534 16.5752 17.0928 16.1943 16.7119C15.8135 16.3311 15.3529 16.1406 14.8125 16.1406C14.2721 16.1406 13.8115 16.3311 13.4307 16.7119C13.0498 17.0928 12.8594 17.5534 12.8594 18.0938C12.8594 18.6341 13.0498 19.0947 13.4307 19.4756C13.8115 19.8564 14.2721 20.0469 14.8125 20.0469Z"
                    fill="#7E7E7E" />
            </svg>
        </button>
        <button id="play-pause" class="icon">
            <svg class="play-icon" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M18.8366 12.9825C19.9138 13.7822 19.9138 15.3947 18.8366 16.1944L3.19208 27.8074C1.87239 28.787 6.46492e-07 27.845 7.18333e-07 26.2015L1.73358e-06 2.97541C1.80542e-06 1.33187 1.87239 0.389888 3.19208 1.3695L18.8366 12.9825Z"
                    fill="#7E7E7E" />
            </svg>
            <svg class="pause-icon hide" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="6.9171" height="27.6684" rx="2" fill="#7E7E7E" />
                <rect x="13.834" width="6.9171" height="27.6684" rx="2" fill="#7E7E7E" />
            </svg>
        </button>
        <button class="go-forward-icon icon">
            <svg width="26" height="31" viewBox="0 0 26 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20.4281 9.80145C22.345 11.6553 23.5232 14.1424 23.7435 16.7999C23.9638 19.4575 23.2112 22.1046 21.6257 24.2488C20.0402 26.3929 17.7297 27.8881 15.1243 28.4561C12.5188 29.0242 9.79565 28.6264 7.46153 27.3368C5.12741 26.0472 3.34123 23.9536 2.43531 21.4455C1.52939 18.9374 1.56542 16.1856 2.53669 13.7021C3.50797 11.2186 5.34835 9.17246 7.71544 7.94441C10.0825 6.71636 12.8151 6.39001 15.4048 7.02608M15.4048 7.02608L9.60745 2.47943M15.4048 7.02608L9.60745 11.2251"
                    stroke="#7E7E7E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M8.95312 14.1875C9.22331 14.1875 9.4528 14.2835 9.6416 14.4756C9.83366 14.6644 9.92969 14.8939 9.92969 15.1641V21.0234C9.92969 21.2936 9.83366 21.5247 9.6416 21.7168C9.4528 21.9056 9.22331 22 8.95312 22C8.68294 22 8.45182 21.9056 8.25977 21.7168C8.07096 21.5247 7.97656 21.2936 7.97656 21.0234V16.1406C7.70638 16.1406 7.47526 16.0462 7.2832 15.8574C7.0944 15.6654 7 15.4342 7 15.1641C7 14.8939 7.0944 14.6644 7.2832 14.4756C7.47526 14.2835 7.70638 14.1875 7.97656 14.1875H8.95312ZM14.8125 22C13.735 22 12.8138 21.6191 12.0488 20.8574C11.2871 20.0924 10.9062 19.1712 10.9062 18.0938C10.9062 17.0163 11.2871 16.0967 12.0488 15.335C12.8138 14.57 13.735 14.1875 14.8125 14.1875C15.89 14.1875 16.8096 14.57 17.5713 15.335C18.3363 16.0967 18.7188 17.0163 18.7188 18.0938C18.7188 19.1712 18.3363 20.0924 17.5713 20.8574C16.8096 21.6191 15.89 22 14.8125 22ZM14.8125 20.0469C15.3529 20.0469 15.8135 19.8564 16.1943 19.4756C16.5752 19.0947 16.7656 18.6341 16.7656 18.0938C16.7656 17.5534 16.5752 17.0928 16.1943 16.7119C15.8135 16.3311 15.3529 16.1406 14.8125 16.1406C14.2721 16.1406 13.8115 16.3311 13.4307 16.7119C13.0498 17.0928 12.8594 17.5534 12.8594 18.0938C12.8594 18.6341 13.0498 19.0947 13.4307 19.4756C13.8115 19.8564 14.2721 20.0469 14.8125 20.0469Z"
                    fill="#7E7E7E" />
            </svg>
        </button>
    </div>
    <div class="audio-track-wrapper">
        <div class="audio-track">
            <span id="current-time">0:00</span>
            <input type="range" id="seek-slider" max="100" value="0">
            <span id="duration">0:00</span>
        </div>
    </div>
</div>