<div class="pick-side">
    <a class="go-left" href="/detailtwo">
        <p>Ontdenk wat er links is</p>
    </a>
    <a class="go-right" href="/detailtwo">
        <p>Ontdenk wat er rechts is</p>
    </a>
</div>