<div class="hamburger-menu">
    <div class="hamburger-close"></div>
    <a href="/">Hoofdstukken kiezen</a>
    <a href="/difficulty">Moeilijkheidsgraad kiezen</a>
    <a href="/detail">Opnieuw bekunnen</a>
</div>
<div class="hamburger-background"></div>