<div class="question-container-one">
    <div>
        <p>
            <span>1.</span>
            In de bron zie je een helm gevonden en komt vermoedelijk uit de eerste eeuw voor christus. Leg uit
            waarom de
            Romeinen zulke helmen gebruikten en waarom de helm op deze plek is terug gevonden.
        </p>
        <textarea name="" id="" cols="10" rows="" placeholder="Typ hier je antwoord"></textarea>
    </div>
    <figure>
        <img src="images/romeinse-gezichtshelm.jpg" alt="romeinse gezichtshelm">
        <figcaption>
            Een Romeinse bronzen verzilverde gezichtshelm uit eerste helft van de 1ste eeuw na Chr. gevonden
            langs de Waal in Gelderland.
        </figcaption>
    </figure>
    <button class="save-button">antwoord opslaan</button>
</div>