<div class="question-container-seven">
    <div>
        <p>
            <span>7.</span>
            Met welk ambacht kon je als ambachtsman langs de Limes erg succesvol worden? Kies het juiste antwoord.
        </p>
        <label>
            <input class="options-seven" type="radio" name="answer_to_question">
            <p><span>a.</span> <span>Smit</span></p>
        </label>
        <label>
            <input class="options-seven" type="radio" name="answer_to_question">
            <p><span>b.</span> <span>Architect</span></p>
        </label>
        <label>
            <input class="options-seven" type="radio" name="answer_to_question">
            <p><span>c.</span> <span>Slager</span></p>
        </label>
        <label>
            <input class="options-seven" type="radio" name="answer_to_question">
            <p><span>d.</span> <span>Bakker</span></p>
        </label>
    </div>
    <button disabled class="next-button btn-seven">antwoord opslaan</button>
</div>
<div class="question-container-eight">
    <div>
        <p>
            <span>8.</span>
            Door de komst van de Romeinen waren er nu meer perioden van vrede, zogenoemde Pax Romana. Leg uit wat het
            Civitas Romana hier mee te maken heeft.
        </p>
        <textarea name="" id="text-area-eight" cols="10" rows="" placeholder="Typ hier je antwoord"></textarea>
    </div>
    <figure>
        <img src="images/pax-romana.jpg" alt="munt van pax romana">
        <figcaption>
            De eerste munten met een handdruk verschenen in Rome in de tijd van Julius Caesar, die ook de afbeelding
            gebruikte van de caduceus, de staf van Mercurius. Het motief roept een gevoel van harmonie en vrede op.
        </figcaption>
    </figure>
    <button disabled class="save-button btn-eight">antwoord opslaan</button>
</div>
<div class="question-container-nine">
    <div>
        <p>
            <span>9.</span>
            Welk Romeins gebruik nam de inheemse bevolking langs de Limes niet volledig over? Kies het juiste antwoord.
        </p>
        <label>
            <input class="options-nine" type="radio" name="answer_to_question">
            <p><span>a.</span> <span>De goden</span></p>
        </label>
        <label>
            <input class="options-nine" type="radio" name="answer_to_question">
            <p><span>b.</span> <span>Het rode aardewerk (terra sigillata) </span></p>
        </label>
        <label>
            <input class="options-nine" type="radio" name="answer_to_question">
            <p><span>c.</span> <span>Munten als betaalmiddel</span></p>
        </label>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>d.</span> <span>Minder slachten van dieren</span></p>
        </label>
    </div>
    <form action="/end">
        <input class="end-button btn-nine" type="submit" disabled="disabled" value="antwoord opslaan">
    </form>
</div>