<div class="question-container-four">
    <div>
        <p>
            <span>4.</span>
            Langs de Limes werden wegen gebouwd. Waarom deden de Romeinen dat? Kies het juiste antwoord.<br>
        </p>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>a.</span> <span>Omdat ze voor de romeinse burgers wilden helpen</span></p>
        </label>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>b.</span> <span>Omdat ze de romeinse burgers werk wilden geven</span></p>
        </label>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>c.</span> <span>Omdat ze wilden laten zien hoe welvarend ze waren</span></p>
        </label>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>d.</span> <span>Omdat ze soldaten en materieel over de wegen wilden vervoeren</span></p>
        </label>
    </div>
    <button disabled class="next-button btn-four">antwoord opslaan</button>
</div>
<div class="question-container-five">
    <div>
        <p>
            <span>5.</span>
            Waarom waren er opstanden rond de kern (huidig Italë) van het Romeinse rijk? Kies het juiste antwoord.
        </p>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>a.</span> <span>Galliërs waren ontevreden met de komst van de Romeinen</span></p>
        </label>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>b.</span> <span>Het Romeinse volk wilde de keizer afzetten</span></p>
        </label>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>c.</span> <span>Het Romeinse volk wilde meer invloed op hun eigen leven</span></p>
        </label>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>d.</span> <span>De Romeinen werden aangevallen in huidig Italë</span></p>
        </label>
    </div>
    <button disabled class="next-button btn-five">antwoord opslaan</button>
</div>
<div class="question-container-six">
    <div>
        <p>
            <span>6.</span>
            De Romeinen beschouwden de bataven ook wel als elitetroepen. Leg uit waarom de Romeinen dat vonden.
        </p>
        <textarea name="" id="text-area-six" cols="10" rows="" placeholder="Typ hier je antwoord"></textarea>
    </div>
    <figure>
        <img src="images/de-bataven.jpg" alt="de bataven">
        <figcaption>
            De Bataven geschilderd door Jacob de Vos in 1835. Dit beeld de Bataafse opstand af.
        </figcaption>
    </figure>
    <button disabled class="save-button btn-six">antwoord opslaan</button>
</div>