<div class="question-container-one">
    <div>
        <p>
            <span>1.</span>
            In welk jaar schreef Julius Ceasar zijn boek waarin hij ook voor het eerst de bewoners van huidig nederland
            geschreef? Kies het juiste antoord.
        </p>
        <label>
            <input class="options-one" type="radio" name="options-one">
            <p><span>a.</span> <span>40 v.Chr.</span></p>
        </label>
        <label>
            <input class="options-one" type="radio" name="options-one">
            <p><span>b.</span> <span>40 n.Chr.</span></p>
        </label>
        <label>
            <input class="options-one" type="radio" name="options-one">
            <p><span>c.</span> <span>58 v.Chr.</span></p>
        </label>
        <label>
            <input class="options-one" type="radio" name="options-one">
            <p><span>d.</span> <span>45 v.Chr.</span></p>
        </label>
    </div>
    <button disabled class="next-button btn-one">antwoord opslaan</button>
</div>
<div class="question-container-two">
    <div>
        <p>
            <span>2.</span>
            In de bron zie je een helm gevonden en komt vermoedelijk uit de eerste eeuw voor christus. Leg uit
            waarom de
            Romeinen zulke helmen gebruikten en waarom de helm op deze plek is terug gevonden.
        </p>
        <textarea name="" id="text-area-two" cols="10" rows="" placeholder="Typ hier je antwoord"></textarea>
    </div>
    <figure>
        <img src="images/romeinse-gezichtshelm.jpg" alt="romeinse gezichtshelm">
        <figcaption>
            Een Romeinse bronzen verzilverde gezichtshelm uit eerste helft van de 1ste eeuw na Chr. gevonden
            langs de Waal in Gelderland.
        </figcaption>
    </figure>
    <button disabled class="save-button btn-two">antwoord opslaan</button>
</div>
<div class="question-container-three">
    <div>
        <p>
            <span>3.</span>
            Waarom zijn juist langs de Maas en Waal botten, Germaanse munten en sieraden terug gevonden?
        </p>
        <textarea name="" id="text-area-three" cols="10" rows="" placeholder="Typ hier je antwoord"></textarea>
    </div>
    <figure>
        <img src="images/maasenwaalbijkessel.png" alt="Landstrook tussen de maas en de waal bij Kessel, Brabant">
        <figcaption>
            Op deze landsstrook tussen de Waal en de Maas zijn botten, Germaanse munten en sieraden terug gevonden. Hier
            waren deze rivieren erg dicht bij elkaar.
        </figcaption>
    </figure>
    <button disabled class="save-button btn-three">antwoord opslaan</button>
</div>