<div class="question-container-four">
    <div>
        <p>
            <span>1.</span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>a.</span> <span>1</span></p>
        </label>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>b.</span> <span>2</span></p>
        </label>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>c.</span> <span>3</span></p>
        </label>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>d.</span> <span>4</span></p>
        </label>
    </div>
    <button class="next-button btn-four">antwoord opslaan</button>
</div>
<div class="question-container-five">
    <div>
        <p>
            <span>2.</span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>a.</span> <span>1</span></p>
        </label>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>b.</span> <span>2</span></p>
        </label>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>c.</span> <span>3</span></p>
        </label>
        <label>
            <input type="radio" name="answer_to_question">
            <p><span>d.</span> <span>4</span></p>
        </label>
    </div>
    <button class="next-button btn-five">antwoord opslaan</button>
</div>
<div class="question-container-six">
    <div>
        <p>
            <span>3.</span>
            In de bron zie je Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa.
        </p>
        <textarea name="" id="" cols="10" rows="" placeholder="Typ hier je antwoord"></textarea>
    </div>
    <figure>
        <img src="images/romeinse-gezichtshelm.jpg" alt="romeinse gezichtshelm">
        <figcaption>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </figcaption>
    </figure>
    <button class="save-button btn-six">antwoord opslaan</button>
</div>