<div class="question-container-four">
    <div>
        <p>
            <span>4.</span>
            Langs de Limes werden wegen gebouwd. Waarom deden de Romeinen dat? Kies het juiste antoord.<br>
        </p>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>a.</span> <span>Omdat ze voor de romeinse burgers wilden helpen</span></p>
        </label>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>b.</span> <span>Omdat ze de romeinse burgers werk wilden geven</span></p>
        </label>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>c.</span> <span>Omdat ze wilden laten zien hoe welvarend ze wel niet waren</span></p>
        </label>
        <label>
            <input class="options-four" type="radio" name="options-four">
            <p><span>d.</span> <span>Omdat ze soldaten en materialen over de wegen wilden vervoeren</span></p>
        </label>
    </div>
    <button disabled class="next-button btn-four">antwoord opslaan</button>
</div>
<div class="question-container-five">
    <div>
        <p>
            <span>5.</span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>a.</span> <span>1</span></p>
        </label>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>b.</span> <span>2</span></p>
        </label>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>c.</span> <span>3</span></p>
        </label>
        <label>
            <input class="options-five" type="radio" name="options-five">
            <p><span>d.</span> <span>4</span></p>
        </label>
    </div>
    <button disabled class="next-button btn-five">antwoord opslaan</button>
</div>
<div class="question-container-six">
    <div>
        <p>
            <span>6.</span>
            In de bron zie je Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa.
        </p>
        <textarea name="" id="text-area-six" cols="10" rows="" placeholder="Typ hier je antwoord"></textarea>
    </div>
    <figure>
        <img src="images/romeinse-gezichtshelm.jpg" alt="romeinse gezichtshelm">
        <figcaption>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </figcaption>
    </figure>
    <button disabled class="save-button btn-six">antwoord opslaan</button>
</div>