<aside class="sidebar">
    <div class="text-wrapper">
        <p id="sub-container">
            <%- include('../partials/subtitles') %>
        </p>
        <p id="sub-container-two">
            <span class="show-sub" data-begin='0.060' data-dur='3.900'>
                We lopen hier ten noorden van de Romeinse grens. Dit is de heide bij Ermelo.
            </span>
            <span class="show-sub" data-begin='03.930' data-dur='6.260'>
                Ondanks dat de Romeinen de Rijn als grens hadden gekozen, trokken ze nog regelmatig verder naar het
                noorden om te
                verkennen en te veroveren.
            </span>
            <span class="show-sub" data-begin='10.350' data-dur='4.100'>
                En hier liggen de bovengrondse restanten van een Romeins mars kamp.
            </span>
        </p>
        <div id="info-container">
            <div class="close-info"></div>
            <img>
            <h1></h1>
            <p></p>
        </div>
    </div>
</aside>