<aside class="sidebar">
    <div class="text-wrapper">
        <!-- <p class="autofocus-current-word" hidden>
            <input type="checkbox" id="autofocus-current-word" checked>
            <label for="autofocus-current-word">Auto-focus/auto-scroll</label>
        </p> -->
        <p id="sub-container">
            <%- include('../partials/subtitles') %>
        </p>
        <div id="information-container">
            <img>
            <p></p>
        </div>
    </div>
</aside>