<aside class="sidebar">
    <div class="text-wrapper">
        <p id="sub-container">
            <%- include('../partials/subsceneone') %>
        </p>
        <p id="sub-container-two">
            <%- include('../partials/subscenetwo') %>
        </p>
        <p id="sub-container-three">
            <%- include('../partials/subscenethree') %>
        </p>
        <div id="info-container">
            <div class="close-info"></div>
            <img>
            <h1></h1>
            <p></p>
        </div>
    </div>
</aside>