<aside class="sidebar">
    <div class="text-wrapper">
        <!-- <p class="autofocus-current-word" hidden>
            <input type="checkbox" id="autofocus-current-word" checked>
            <label for="autofocus-current-word">Auto-focus/auto-scroll</label>
        </p> -->
        <p id="sub-container">
            <%- include('../partials/subtitles') %>
                <!-- Dwars door Nederland stroomt de rivier de Rijn. Het is een oude rivier die er al stroomt zolang als
                hier mensen wonen.En ook de Romeinen zagen de Rijn toen zij hier kwamen rond het jaar 50 voor
                Christus. En zij besloten dat ze hier een prefecte Noorderlijke grens konden bouwen. En vandaag op
                deze, enigzins, regenachtige dag gaan we de Noorderlijke grens van het Romeinse rijk ontdekken. -->
        </p>
        <div id="information-container">
            <p></p>
            <img>
        </div>
    </div>
</aside>