<span class="subs-scene-three hidden" data-begin="0.640" data-dur="0.090">De</span>
<span class="subs-scene-three hidden" data-begin="0.730" data-dur="0.650">Bataven</span>
<span class="subs-scene-three hidden" data-begin="1.180" data-dur="0.460">raakten</span>
<span class="subs-scene-three hidden" data-begin="1.540" data-dur="0.360">steeds</span>
<span class="subs-scene-three hidden" data-begin="1.900" data-dur="0.180">meer</span>
<span class="subs-scene-three hidden" data-begin="2.080" data-dur="0.350">verweven</span>
<span class="subs-scene-three hidden" data-begin="2.530" data-dur="0.120">met</span>
<span class="subs-scene-three hidden" data-begin="2.650" data-dur="0.060">de</span>
<span class="subs-scene-three hidden" data-begin="2.710" data-dur="0.550">Romeinse</span>
<span class="subs-scene-three hidden" data-begin="3.160" data-dur="0.590">cultuur</span>
<span class="subs-scene-three hidden" data-begin="3.850" data-dur="0.150">en</span>
<span class="subs-scene-three hidden" data-begin="4.000" data-dur="0.150">ze</span>
<span class="subs-scene-three hidden" data-begin="4.150" data-dur="0.270">kregen</span>
<span class="subs-scene-three hidden" data-begin="4.420" data-dur="0.280">hun</span>
<span class="subs-scene-three hidden" data-begin="4.600" data-dur="0.270">eigen</span>
<span class="subs-scene-three hidden" data-begin="4.870" data-dur="0.540">stad</span>
<span class="subs-scene-three hidden" data-begin="5.410" data-dur="0.900">"Batavenburg"</span>
<span class="subs-scene-three hidden" data-begin="6.310" data-dur="0.120">bij</span>
<span class="subs-scene-three hidden" data-begin="6.430" data-dur="0.120">het</span>
<span class="subs-scene-three hidden" data-begin="6.550" data-dur="0.330">huidige</span>
<span class="subs-scene-three hidden" data-begin="6.880" data-dur="0.620">Nijmegen.</span>

<span class="subs-scene-three hidden" data-begin="8.350" data-dur="0.090">Een</span>
<span class="subs-scene-three hidden" data-begin="8.440" data-dur="0.390">stad</span>
<span class="subs-scene-three hidden" data-begin="8.830" data-dur="0.180">met</span>
<span class="subs-scene-three hidden" data-begin="9.010" data-dur="0.300">rond</span>
<span class="subs-scene-three hidden" data-begin="9.310" data-dur="0.090">de</span>
<span class="subs-scene-three hidden" data-begin="9.400" data-dur="0.480">duizend</span>
<span class="subs-scene-three hidden" data-begin="9.880" data-dur="0.510">inwoners.</span>

<span class="subs-scene-three hidden" data-begin="11.320" data-dur="0.330">Omdat</span>
<span class="subs-scene-three hidden" data-begin="11.650" data-dur="0.090">er</span>
<span class="subs-scene-three hidden" data-begin="11.740" data-dur="0.060">in</span>
<span class="subs-scene-three hidden" data-begin="11.800" data-dur="0.090">de</span>
<span class="subs-scene-three hidden" data-begin="11.890" data-dur="0.200">buurt</span>
<span class="subs-scene-three hidden" data-begin="12.190" data-dur="0.390">meerdere</span>
<span class="subs-scene-three hidden" data-begin="12.580" data-dur="0.490">Castella</span>
<span class="subs-scene-three hidden" data-begin="13.090" data-dur="0.570">waren, </span>
<span class="subs-scene-three hidden" data-begin="13.660" data-dur="0.330">kwamen</span>
<span class="subs-scene-three hidden" data-begin="13.990" data-dur="0.220">er</span>
<span class="subs-scene-three hidden" data-begin="14.110" data-dur="0.150">ook</span>
<span class="subs-scene-three hidden" data-begin="14.260" data-dur="0.640">Romeinse</span>
<span class="subs-scene-three hidden" data-begin="14.800" data-dur="0.630">ambachtslieden</span>
<span class="subs-scene-three hidden" data-begin="15.430" data-dur="0.570">wonen</span>
<span class="subs-scene-three hidden" data-begin="16.000" data-dur="0.060">die</span>
<span class="subs-scene-three hidden" data-begin="16.060" data-dur="0.550">Romeinse</span>
<span class="subs-scene-three hidden" data-begin="16.510" data-dur="0.420">gewoonten</span>
<span class="subs-scene-three hidden" data-begin="16.930" data-dur="0.720">introduceerden.</span>

<span class="subs-scene-three hidden" data-begin="18.010" data-dur="0.180">Denk</span>
<span class="subs-scene-three hidden" data-begin="18.190" data-dur="0.090">aan</span>
<span class="subs-scene-three hidden" data-begin="18.280" data-dur="0.780">mozaïeken, </span>
<span class="subs-scene-three hidden" data-begin="19.060" data-dur="0.450">fresco's</span>
<span class="subs-scene-three hidden" data-begin="19.510" data-dur="0.090">op</span>
<span class="subs-scene-three hidden" data-begin="19.600" data-dur="0.510">muren</span>
<span class="subs-scene-three hidden" data-begin="20.110" data-dur="0.090">en</span>
<span class="subs-scene-three hidden" data-begin="20.200" data-dur="0.120">het</span>
<span class="subs-scene-three hidden" data-begin="20.320" data-dur="0.240">bakken</span>
<span class="subs-scene-three hidden" data-begin="20.560" data-dur="0.150">van</span>
<span class="subs-scene-three hidden" data-begin="20.710" data-dur="0.720">bakstenen, </span>
<span class="subs-scene-three hidden" data-begin="21.430" data-dur="0.300">potten </span>
<span class="subs-scene-three hidden" data-begin="21.730" data-dur="0.120">en</span>
<span class="subs-scene-three hidden" data-begin="21.850" data-dur="0.500">dakpannen.</span>

<span class="divider subs-scene-three hidden">Vraag 7.</span>
<!-- +1 sec -->

<span class="subs-scene-three hidden" data-begin="24.200" data-dur="0.120">Er</span>
<span class="subs-scene-three hidden" data-begin="24.320" data-dur="0.210">werden</span>
<span class="subs-scene-three hidden" data-begin="24.530" data-dur="0.210">voor</span>
<span class="subs-scene-three hidden" data-begin="24.740" data-dur="0.120">het</span>
<span class="subs-scene-three hidden" data-begin="24.860" data-dur="0.560">eerst</span>
<span class="subs-scene-three hidden" data-begin="25.220" data-dur="0.360">huizen</span>
<span class="subs-scene-three hidden" data-begin="25.580" data-dur="0.150">van</span>
<span class="subs-scene-three hidden" data-begin="25.730" data-dur="0.300">steen</span>
<span class="subs-scene-three hidden" data-begin="26.030" data-dur="0.360">gebouwd</span>
<span class="subs-scene-three hidden" data-begin="26.390" data-dur="0.150">met</span>
<span class="subs-scene-three hidden" data-begin="26.540" data-dur="0.330">ramen</span>
<span class="subs-scene-three hidden" data-begin="26.870" data-dur="0.330">van</span>
<span class="subs-scene-three hidden" data-begin="27.020" data-dur="0.150">glas</span>
<span class="subs-scene-three hidden" data-begin="27.350" data-dur="0.090">in</span>
<span class="subs-scene-three hidden" data-begin="27.440" data-dur="0.270">plaats</span>
<span class="subs-scene-three hidden" data-begin="27.710" data-dur="0.120">van</span>
<span class="subs-scene-three hidden" data-begin="27.830" data-dur="0.260">stro</span>
<span class="subs-scene-three hidden" data-begin="28.190" data-dur="0.090">en</span>
<span class="subs-scene-three hidden" data-begin="28.280" data-dur="0.220">klei.</span>

<span class="divider subs-scene-three hidden">Vraag 8.</span>
<!-- + 2 sec -->

<span class="subs-scene-three hidden" data-begin="30.600" data-dur="0.120">De</span>
<span class="subs-scene-three hidden" data-begin="30.720" data-dur="0.690">eetgewoontes</span>
<span class="subs-scene-three hidden" data-begin="31.410" data-dur="0.120">en</span>
<span class="subs-scene-three hidden" data-begin="31.530" data-dur="0.090">de</span>
<span class="subs-scene-three hidden" data-begin="31.620" data-dur="0.880">bereidingswijze</span>
<span class="subs-scene-three hidden" data-begin="32.400" data-dur="0.120">van</span>
<span class="subs-scene-three hidden" data-begin="32.520" data-dur="0.120">het</span>
<span class="subs-scene-three hidden" data-begin="32.640" data-dur="0.240">eten</span>
<span class="subs-scene-three hidden" data-begin="32.880" data-dur="0.180">werden</span>
<span class="subs-scene-three hidden" data-begin="33.060" data-dur="0.180">ook</span>
<span class="subs-scene-three hidden" data-begin="33.240" data-dur="0.680">anders, </span>
<span class="subs-scene-three hidden" data-begin="33.920" data-dur="0.250">net</span>
<span class="subs-scene-three hidden" data-begin="34.170" data-dur="0.180">als</span>
<span class="subs-scene-three hidden" data-begin="34.350" data-dur="0.090">het</span>
<span class="subs-scene-three hidden" data-begin="34.440" data-dur="0.380">dragen</span>
<span class="subs-scene-three hidden" data-begin="34.860" data-dur="0.150">van</span>
<span class="subs-scene-three hidden" data-begin="35.010" data-dur="0.450">Romeinse</span>
<span class="subs-scene-three hidden" data-begin="35.460" data-dur="0.330">kleding</span>
<span class="subs-scene-three hidden" data-begin="35.790" data-dur="0.270">gewoon</span>
<span class="subs-scene-three hidden" data-begin="36.060" data-dur="0.300">werd.</span>

<span class="subs-scene-three hidden" data-begin="37.200" data-dur="0.180">Het</span>
<span class="subs-scene-three hidden" data-begin="37.380" data-dur="0.620">overnemen</span>
<span class="subs-scene-three hidden" data-begin="38.010" data-dur="0.120">van</span>
<span class="subs-scene-three hidden" data-begin="38.130" data-dur="0.480">Romeinse</span>
<span class="subs-scene-three hidden" data-begin="38.610" data-dur="0.690">gewoonten</span>
<span class="subs-scene-three hidden" data-begin="39.300" data-dur="0.330">wordt</span>
<span class="subs-scene-three hidden" data-begin="39.630" data-dur="0.870">Romanisering</span>
<span class="subs-scene-three hidden" data-begin="40.500" data-dur="0.350">genoemd.</span>

<span class="divider subs-scene-three hidden">Vraag 9.</span>