<span class="subs-scene-two hidden" data-begin="0.090" data-dur="0.300">Rond</span>
<span class="subs-scene-two hidden" data-begin="0.390" data-dur="0.420">50</span>
<span class="subs-scene-two hidden" data-begin="0.810" data-dur="0.100">na</span>
<span class="subs-scene-two hidden" data-begin="0.990" data-dur="0.720">Christus</span>
<span class="subs-scene-two hidden" data-begin="1.710" data-dur="0.100">werd</span>
<span class="subs-scene-two hidden" data-begin="1.890" data-dur="0.060">de</span>
<span class="subs-scene-two hidden" data-begin="1.950" data-dur="0.300">Rijn</span>
<span class="subs-scene-two hidden" data-begin="2.250" data-dur="0.000">de</span>
<span class="subs-scene-two hidden" data-begin="2.400" data-dur="0.150">nieuwe</span>
<span class="subs-scene-two hidden" data-begin="2.700" data-dur="0.480">noordelijke</span>
<span class="subs-scene-two hidden" data-begin="3.180" data-dur="0.320">grens</span>
<span class="subs-scene-two hidden" data-begin="3.510" data-dur="0.090">van</span>
<span class="subs-scene-two hidden" data-begin="3.600" data-dur="0.090">het</span>
<span class="subs-scene-two hidden" data-begin="3.690" data-dur="0.450">Romeinse</span>
<span class="subs-scene-two hidden" data-begin="4.140" data-dur="0.350">rijk.</span>

<span class="subs-scene-two hidden" data-begin="5.250" data-dur="0.090">De</span>
<span class="subs-scene-two hidden" data-begin="5.340" data-dur="0.480">Romeinen</span>
<span class="subs-scene-two hidden" data-begin="5.820" data-dur="0.230">kozen</span>
<span class="subs-scene-two hidden" data-begin="6.150" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="6.240" data-dur="0.330">Rijn</span>
<span class="subs-scene-two hidden" data-begin="6.570" data-dur="0.300">omdat</span>
<span class="subs-scene-two hidden" data-begin="6.870" data-dur="0.180">dit</span>
<span class="subs-scene-two hidden" data-begin="7.050" data-dur="0.150">al</span>
<span class="subs-scene-two hidden" data-begin="7.200" data-dur="0.120">een</span>
<span class="subs-scene-two hidden" data-begin="7.320" data-dur="0.570">natuurlijke</span>
<span class="subs-scene-two hidden" data-begin="7.890" data-dur="0.450">verdeling</span>
<span class="subs-scene-two hidden" data-begin="8.340" data-dur="0.120">van</span>
<span class="subs-scene-two hidden" data-begin="8.460" data-dur="0.090">het</span>
<span class="subs-scene-two hidden" data-begin="8.550" data-dur="0.210">land</span>
<span class="subs-scene-two hidden" data-begin="8.760" data-dur="0.350">was.</span>

<span class="subs-scene-two hidden" data-begin="9.840" data-dur="0.720">Bovendien</span>
<span class="subs-scene-two hidden" data-begin="10.560" data-dur="0.240">zou</span>
<span class="subs-scene-two hidden" data-begin="10.800" data-dur="0.090">een</span>
<span class="subs-scene-two hidden" data-begin="10.890" data-dur="0.540">“gemaakte”</span>
<span class="subs-scene-two hidden" data-begin="11.430" data-dur="0.450">grens</span>
<span class="subs-scene-two hidden" data-begin="11.880" data-dur="0.420">lastig</span>
<span class="subs-scene-two hidden" data-begin="12.300" data-dur="0.080">te</span>
<span class="subs-scene-two hidden" data-begin="12.420" data-dur="0.450">onderhouden</span>
<span class="subs-scene-two hidden" data-begin="12.870" data-dur="0.340">zijn.</span>

<span class="subs-scene-two hidden" data-begin="13.920" data-dur="0.240">Dit</span>
<span class="subs-scene-two hidden" data-begin="14.160" data-dur="0.180">wordt</span>
<span class="subs-scene-two hidden" data-begin="14.340" data-dur="0.110">ook</span>
<span class="subs-scene-two hidden" data-begin="14.550" data-dur="0.140">wel</span>
<span class="subs-scene-two hidden" data-begin="14.670" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="14.760" data-dur="0.420">Limes</span>
<span class="subs-scene-two hidden" data-begin="15.180" data-dur="0.480">genoemd</span>
<span class="subs-scene-two hidden" data-begin="15.660" data-dur="0.120">in</span>
<span class="subs-scene-two hidden" data-begin="15.780" data-dur="0.120">het</span>
<span class="subs-scene-two hidden" data-begin="15.900" data-dur="0.720">Latijn</span>
<span class="subs-scene-two hidden" data-begin="16.620" data-dur="0.420">en</span>
<span class="subs-scene-two hidden" data-begin="17.040" data-dur="0.270">liep</span>
<span class="subs-scene-two hidden" data-begin="17.310" data-dur="0.240">door</span>
<span class="subs-scene-two hidden" data-begin="17.550" data-dur="0.330">huidige</span>
<span class="subs-scene-two hidden" data-begin="17.880" data-dur="0.420">Nederland</span>
<span class="subs-scene-two hidden" data-begin="18.300" data-dur="0.090">en</span>
<span class="subs-scene-two hidden" data-begin="18.390" data-dur="0.510">Duitsland.</span>

<span class="subs-scene-two hidden" data-begin="19.830" data-dur="0.270">Langs</span>
<span class="subs-scene-two hidden" data-begin="20.100" data-dur="0.300">deze</span>
<span class="subs-scene-two hidden" data-begin="20.400" data-dur="0.510">grens</span>
<span class="subs-scene-two hidden" data-begin="20.910" data-dur="0.330">kwamen</span>
<span class="subs-scene-two hidden" data-begin="21.240" data-dur="1.020">wachttorens, </span>
<span class="subs-scene-two hidden" data-begin="22.260" data-dur="0.780">legerkampen</span>
<span class="subs-scene-two hidden" data-begin="23.040" data-dur="0.990">(Castella)</span>
<span class="subs-scene-two hidden" data-begin="24.030" data-dur="0.150">en</span>
<span class="subs-scene-two hidden" data-begin="24.180" data-dur="0.330">wegen</span>
<span class="subs-scene-two hidden" data-begin="24.510" data-dur="0.090">om</span>
<span class="subs-scene-two hidden" data-begin="24.600" data-dur="0.090">te</span>
<span class="subs-scene-two hidden" data-begin="24.690" data-dur="0.300">grens</span>
<span class="subs-scene-two hidden" data-begin="24.990" data-dur="0.090">te</span>
<span class="subs-scene-two hidden" data-begin="25.080" data-dur="0.600">beschermen.</span>

<span class="subs-scene-two hidden" data-begin="26.070" data-dur="0.600">Legioenen</span>
<span class="subs-scene-two hidden" data-begin="26.670" data-dur="0.300">waren</span>
<span class="subs-scene-two hidden" data-begin="26.970" data-dur="0.120">het</span>
<span class="subs-scene-two hidden" data-begin="27.090" data-dur="0.660">beroepsleger</span>
<span class="subs-scene-two hidden" data-begin="27.750" data-dur="0.150">van</span>
<span class="subs-scene-two hidden" data-begin="27.900" data-dur="0.060">de</span>
<span class="subs-scene-two hidden" data-begin="27.960" data-dur="0.720">Romeinen</span>
<span class="subs-scene-two hidden" data-begin="28.680" data-dur="0.120">en</span>
<span class="subs-scene-two hidden" data-begin="28.800" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="28.890" data-dur="0.390">kampen</span>
<span class="subs-scene-two hidden" data-begin="29.280" data-dur="0.210">werden</span>
<span class="subs-scene-two hidden" data-begin="29.490" data-dur="0.170">hier</span>
<span class="subs-scene-two hidden" data-begin="29.660" data-dur="0.160">door</span>
<span class="subs-scene-two hidden" data-begin="29.820" data-dur="0.280">bemand.</span>

<span class="subs-scene-two hidden" data-begin="31.050" data-dur="0.140">Men</span>
<span class="subs-scene-two hidden" data-begin="31.290" data-dur="0.230">kon</span>
<span class="subs-scene-two hidden" data-begin="31.530" data-dur="0.250">alleen</span>
<span class="subs-scene-two hidden" data-begin="31.800" data-dur="0.150">maar</span>
<span class="subs-scene-two hidden" data-begin="31.950" data-dur="0.090">in</span>
<span class="subs-scene-two hidden" data-begin="32.040" data-dur="0.090">het</span>
<span class="subs-scene-two hidden" data-begin="32.130" data-dur="0.390">leger</span>
<span class="subs-scene-two hidden" data-begin="32.520" data-dur="0.150">als</span>
<span class="subs-scene-two hidden" data-begin="32.670" data-dur="0.090">ze</span>
<span class="subs-scene-two hidden" data-begin="32.760" data-dur="0.420">Romeins</span>
<span class="subs-scene-two hidden" data-begin="33.180" data-dur="0.630">burgerrecht</span>
<span class="subs-scene-two hidden" data-begin="33.810" data-dur="0.540">hadden, </span>
<span class="subs-scene-two hidden" data-begin="34.350" data-dur="0.510">Civitas</span>
<span class="subs-scene-two hidden" data-begin="34.860" data-dur="0.480">Romana</span>
<span class="subs-scene-two hidden" data-begin="35.340" data-dur="0.090">in</span>
<span class="subs-scene-two hidden" data-begin="35.430" data-dur="0.090">het</span>
<span class="subs-scene-two hidden" data-begin="35.520" data-dur="0.380">Latijn.</span>

<span class="divider subs-scene-two hidden"></span>

<span class="subs-scene-two hidden" data-begin="36.360" data-dur="0.570">Later</span>
<span class="subs-scene-two hidden" data-begin="36.930" data-dur="0.310">zijn</span>
<span class="subs-scene-two hidden" data-begin="37.140" data-dur="0.060">er</span>
<span class="subs-scene-two hidden" data-begin="37.200" data-dur="0.240">rond</span>
<span class="subs-scene-two hidden" data-begin="37.440" data-dur="0.060">de</span>
<span class="subs-scene-two hidden" data-begin="37.500" data-dur="0.360">kern</span>
<span class="subs-scene-two hidden" data-begin="37.860" data-dur="0.150">van</span>
<span class="subs-scene-two hidden" data-begin="38.010" data-dur="0.090">het</span>
<span class="subs-scene-two hidden" data-begin="38.100" data-dur="0.450">Romeinse</span>
<span class="subs-scene-two hidden" data-begin="38.550" data-dur="0.240">rijk</span>
<span class="subs-scene-two hidden" data-begin="38.790" data-dur="0.250">ook</span>
<span class="subs-scene-two hidden" data-begin="38.940" data-dur="0.580">opstanden.</span>

<span class="subs-scene-two hidden" data-begin="40.140" data-dur="0.090">De</span>
<span class="subs-scene-two hidden" data-begin="40.230" data-dur="0.600">toenmalige</span>
<span class="subs-scene-two hidden" data-begin="40.830" data-dur="0.350">keizers</span>
<span class="subs-scene-two hidden" data-begin="41.280" data-dur="0.360">trokken</span>
<span class="subs-scene-two hidden" data-begin="41.640" data-dur="0.360">troepen</span>
<span class="subs-scene-two hidden" data-begin="42.000" data-dur="0.330">terug</span>
<span class="subs-scene-two hidden" data-begin="42.330" data-dur="0.150">uit</span>
<span class="subs-scene-two hidden" data-begin="42.480" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="42.570" data-dur="0.370">grenslinies</span>
<span class="subs-scene-two hidden" data-begin="43.140" data-dur="0.180">langs</span>
<span class="subs-scene-two hidden" data-begin="43.320" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="43.410" data-dur="0.720">Limes</span>
<span class="subs-scene-two hidden" data-begin="44.130" data-dur="0.300">waardoor</span>
<span class="subs-scene-two hidden" data-begin="44.430" data-dur="0.090">er</span>
<span class="subs-scene-two hidden" data-begin="44.520" data-dur="0.330">minder</span>
<span class="subs-scene-two hidden" data-begin="44.850" data-dur="0.450">soldaten</span>
<span class="subs-scene-two hidden" data-begin="45.300" data-dur="0.660">achterbleven.</span>

<span class="subs-scene-two hidden" data-begin="46.710" data-dur="0.290">Daarom</span>
<span class="subs-scene-two hidden" data-begin="47.220" data-dur="0.210">hadden</span>
<span class="subs-scene-two hidden" data-begin="47.430" data-dur="0.120">de</span>
<span class="subs-scene-two hidden" data-begin="47.550" data-dur="0.450">Romeinen</span>
<span class="subs-scene-two hidden" data-begin="48.000" data-dur="0.270">nieuwe</span>
<span class="subs-scene-two hidden" data-begin="48.270" data-dur="0.480">rekruten</span>
<span class="subs-scene-two hidden" data-begin="48.750" data-dur="0.330">nodig</span>
<span class="subs-scene-two hidden" data-begin="49.080" data-dur="0.120">in</span>
<span class="subs-scene-two hidden" data-begin="49.200" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="49.290" data-dur="0.220">buurt</span>
<span class="subs-scene-two hidden" data-begin="49.530" data-dur="0.120">van</span>
<span class="subs-scene-two hidden" data-begin="49.650" data-dur="0.060">de</span>
<span class="subs-scene-two hidden" data-begin="49.710" data-dur="0.410">grens.</span>

<span class="divider subs-scene-two hidden"></span>

<span class="subs-scene-two hidden" data-begin="50.430" data-dur="0.300">Onder</span>
<span class="subs-scene-two hidden" data-begin="50.730" data-dur="0.600">toestemming</span>
<span class="subs-scene-two hidden" data-begin="51.330" data-dur="0.120">van</span>
<span class="subs-scene-two hidden" data-begin="51.450" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="51.540" data-dur="0.650">Romeinen</span>
<span class="subs-scene-two hidden" data-begin="52.290" data-dur="0.540">vestigden</span>
<span class="subs-scene-two hidden" data-begin="52.830" data-dur="0.140">zich</span>
<span class="subs-scene-two hidden" data-begin="53.070" data-dur="0.090">een</span>
<span class="subs-scene-two hidden" data-begin="53.160" data-dur="0.300">nieuwe</span>
<span class="subs-scene-two hidden" data-begin="53.460" data-dur="0.330">stam</span>
<span class="subs-scene-two hidden" data-begin="53.790" data-dur="0.070">onder</span>
<span class="subs-scene-two hidden" data-begin="54.060" data-dur="0.060">de</span>
<span class="subs-scene-two hidden" data-begin="54.120" data-dur="0.380">Rijn.</span>

<span class="subs-scene-two hidden" data-begin="55.170" data-dur="0.150">Ze</span>
<span class="subs-scene-two hidden" data-begin="55.320" data-dur="0.240">werden</span>
<span class="subs-scene-two hidden" data-begin="55.560" data-dur="0.120">de</span>
<span class="subs-scene-two hidden" data-begin="55.680" data-dur="0.540">Bataven</span>
<span class="subs-scene-two hidden" data-begin="56.220" data-dur="0.360">genoemd</span>
<span class="subs-scene-two hidden" data-begin="56.580" data-dur="0.120">door</span>
<span class="subs-scene-two hidden" data-begin="56.700" data-dur="0.060">de</span>
<span class="subs-scene-two hidden" data-begin="56.760" data-dur="0.660">Romeinen, </span>
<span class="subs-scene-two hidden" data-begin="57.420" data-dur="0.180">wat</span>
<span class="subs-scene-two hidden" data-begin="57.600" data-dur="0.390">“mensen</span>
<span class="subs-scene-two hidden" data-begin="57.990" data-dur="0.220">van</span>
<span class="subs-scene-two hidden" data-begin="58.110" data-dur="0.120">het</span>
<span class="subs-scene-two hidden" data-begin="58.230" data-dur="0.480">vruchtbare</span>
<span class="subs-scene-two hidden" data-begin="58.710" data-dur="0.410">waterland”</span>
<span class="subs-scene-two hidden" data-begin="59.220" data-dur="0.500">betekent.</span>

<span class="subs-scene-two hidden" data-begin="60.570" data-dur="0.180">Om</span>
<span class="subs-scene-two hidden" data-begin="60.750" data-dur="0.120">te</span>
<span class="subs-scene-two hidden" data-begin="60.870" data-dur="0.330">mogen</span>
<span class="subs-scene-two hidden" data-begin="61.200" data-dur="0.450">blijven</span>
<span class="subs-scene-two hidden" data-begin="61.650" data-dur="0.360">moesten</span>
<span class="subs-scene-two hidden" data-begin="62.010" data-dur="0.120">ze</span>
<span class="subs-scene-two hidden" data-begin="62.130" data-dur="0.540">soldaten</span>
<span class="subs-scene-two hidden" data-begin="62.670" data-dur="0.410">aanleveren</span>
<span class="subs-scene-two hidden" data-begin="63.180" data-dur="0.250">voor</span>
<span class="subs-scene-two hidden" data-begin="63.330" data-dur="0.090">het</span>
<span class="subs-scene-two hidden" data-begin="63.420" data-dur="0.490">Romeinse</span>
<span class="subs-scene-two hidden" data-begin="63.810" data-dur="0.470">leger.</span>

<span class="subs-scene-two hidden" data-begin="64.950" data-dur="0.310">Eén</span>
<span class="subs-scene-two hidden" data-begin="65.260" data-dur="0.230">of</span>
<span class="subs-scene-two hidden" data-begin="65.490" data-dur="0.430">twee</span>
<span class="subs-scene-two hidden" data-begin="65.820" data-dur="0.230">jongens</span>
<span class="subs-scene-two hidden" data-begin="66.150" data-dur="0.280">per</span>
<span class="subs-scene-two hidden" data-begin="66.330" data-dur="0.090">gezin</span>
<span class="subs-scene-two hidden" data-begin="67.020" data-dur="0.110">werden</span>
<span class="subs-scene-two hidden" data-begin="67.230" data-dur="0.120">van</span>
<span class="subs-scene-two hidden" data-begin="67.350" data-dur="0.090">hun</span>
<span class="subs-scene-two hidden" data-begin="67.440" data-dur="0.390">families</span>
<span class="subs-scene-two hidden" data-begin="67.830" data-dur="0.650">gescheiden</span>
<span class="subs-scene-two hidden" data-begin="68.280" data-dur="0.060">en</span>
<span class="subs-scene-two hidden" data-begin="68.340" data-dur="0.450">opgeleid</span>
<span class="subs-scene-two hidden" data-begin="68.790" data-dur="0.150">tot</span>
<span class="subs-scene-two hidden" data-begin="68.940" data-dur="0.360">soldaat.</span>

<span class="subs-scene-two hidden" data-begin="70.410" data-dur="0.270">Geen</span>
<span class="subs-scene-two hidden" data-begin="70.680" data-dur="0.420">enkel</span>
<span class="subs-scene-two hidden" data-begin="71.100" data-dur="0.330">ander</span>
<span class="subs-scene-two hidden" data-begin="71.430" data-dur="0.330">volk</span>
<span class="subs-scene-two hidden" data-begin="71.760" data-dur="0.300">hoefde</span>
<span class="subs-scene-two hidden" data-begin="72.060" data-dur="0.420">zoveel</span>
<span class="subs-scene-two hidden" data-begin="72.480" data-dur="0.460">soldaten</span>
<span class="subs-scene-two hidden" data-begin="72.960" data-dur="0.120">te</span>
<span class="subs-scene-two hidden" data-begin="73.080" data-dur="0.430">leveren</span>
<span class="subs-scene-two hidden" data-begin="73.410" data-dur="0.180">als</span>
<span class="subs-scene-two hidden" data-begin="73.590" data-dur="0.090">de</span>
<span class="subs-scene-two hidden" data-begin="73.680" data-dur="0.420">Bataven.</span>

<span class="subs-scene-two hidden" data-begin="74.850" data-dur="0.320">Maar</span>
<span class="subs-scene-two hidden" data-begin="75.270" data-dur="0.550">daardoor</span>
<span class="subs-scene-two hidden" data-begin="75.720" data-dur="0.240">hoefden</span>
<span class="subs-scene-two hidden" data-begin="75.960" data-dur="0.090">ze</span>
<span class="subs-scene-two hidden" data-begin="76.050" data-dur="0.150">dan</span>
<span class="subs-scene-two hidden" data-begin="76.200" data-dur="0.120">weer</span>
<span class="subs-scene-two hidden" data-begin="76.320" data-dur="0.240">geen</span>
<span class="subs-scene-two hidden" data-begin="76.560" data-dur="0.420">belasting</span>
<span class="subs-scene-two hidden" data-begin="76.980" data-dur="0.090">te</span>
<span class="subs-scene-two hidden" data-begin="77.070" data-dur="0.430">betalen.</span>