<span class="subs-scene-one" data-begin="0.000" data-dur="0.180">De</span>
<span class="subs-scene-one" data-begin="0.300" data-dur="0.340">Germanen</span>
<span class="subs-scene-one" data-begin="0.960" data-dur="0.450">leefden</span>
<span class="subs-scene-one" data-begin="1.410" data-dur="0.420">samen</span>
<span class="subs-scene-one" data-begin="1.830" data-dur="0.120">in</span>
<span class="subs-scene-one" data-begin="1.950" data-dur="0.060">kleine</span>
<span class="subs-scene-one" data-begin="2.310" data-dur="0.460">gemeenschappen.</span>

<span class="subs-scene-one" data-begin="3.510" data-dur="0.330">Vaak</span>
<span class="subs-scene-one" data-begin="3.840" data-dur="0.240">waren</span>
<span class="subs-scene-one" data-begin="4.080" data-dur="0.120">het</span>
<span class="subs-scene-one" data-begin="4.200" data-dur="0.090">een</span>
<span class="subs-scene-one" data-begin="4.290" data-dur="0.170">paar</span>
<span class="subs-scene-one" data-begin="4.560" data-dur="0.540">boerderijen</span>
<span class="subs-scene-one" data-begin="5.100" data-dur="0.180">bij</span>
<span class="subs-scene-one" data-begin="5.280" data-dur="0.330">elkaar</span>
<span class="subs-scene-one" data-begin="5.910" data-dur="0.150">met</span>
<span class="subs-scene-one" data-begin="6.060" data-dur="0.150">wat</span>
<span class="subs-scene-one" data-begin="6.210" data-dur="0.330">vee</span>
<span class="subs-scene-one" data-begin="6.540" data-dur="0.180">en</span>
<span class="subs-scene-one" data-begin="6.720" data-dur="0.400">land</span>
<span class="subs-scene-one" data-begin="7.020" data-dur="0.110">er</span>
<span class="subs-scene-one" data-begin="7.130" data-dur="0.500">omheen.</span>

<span class="subs-scene-one" data-begin="8.280" data-dur="0.150">Ze</span>
<span class="subs-scene-one" data-begin="8.430" data-dur="0.300">waren</span>
<span class="subs-scene-one" data-begin="8.730" data-dur="0.510">volledig</span>
<span class="subs-scene-one" data-begin="9.240" data-dur="0.760">zelfvoorzienend.</span>

<span class="subs-scene-one" data-begin="10.500" data-dur="0.930">Julius Caesar, </span>
<span class="subs-scene-one" data-begin="11.430" data-dur="0.180">toen</span>
<span class="subs-scene-one" data-begin="11.610" data-dur="0.120">nog</span>
<span class="subs-scene-one" data-begin="11.730" data-dur="0.570">generaal, </span>
<span class="subs-scene-one" data-begin="12.300" data-dur="0.480">beschreef</span>
<span class="subs-scene-one" data-begin="12.780" data-dur="0.090">de</span>
<span class="subs-scene-one" data-begin="12.870" data-dur="0.470">Germanen</span>
<span class="subs-scene-one" data-begin="13.350" data-dur="0.180">voor</span>
<span class="subs-scene-one" data-begin="13.530" data-dur="0.120">het</span>
<span class="subs-scene-one" data-begin="13.650" data-dur="0.270">eerste</span>
<span class="subs-scene-one" data-begin="13.920" data-dur="0.120">in</span>
<span class="subs-scene-one" data-begin="14.040" data-dur="0.110">één</span>
<span class="subs-scene-one" data-begin="14.250" data-dur="0.120">van</span>
<span class="subs-scene-one" data-begin="14.370" data-dur="0.150">zijn</span>
<span class="subs-scene-one" data-begin="14.520" data-dur="0.660">boeken</span>
<span class="subs-scene-one" data-begin="15.180" data-dur="0.300">rond</span>
<span class="subs-scene-one" data-begin="15.480" data-dur="0.090">het</span>
<span class="subs-scene-one" data-begin="15.570" data-dur="0.190">jaar</span>
<span class="subs-scene-one" data-begin="15.780" data-dur="0.450">40</span>
<span class="subs-scene-one" data-begin="16.230" data-dur="0.150">voor</span>
<span class="subs-scene-one" data-begin="16.380" data-dur="0.520">Christus.</span>

<span class="subs-scene-one" data-begin="17.640" data-dur="0.130">Ze</span>
<span class="subs-scene-one" data-begin="17.790" data-dur="0.300">stonden</span>
<span class="subs-scene-one" data-begin="18.090" data-dur="0.300">bekend</span>
<span class="subs-scene-one" data-begin="18.390" data-dur="0.140">als</span>
<span class="subs-scene-one" data-begin="18.510" data-dur="0.600">barbaren.</span>

<span class="subs-scene-one" data-begin="19.860" data-dur="0.270">Volgens</span>
<span class="subs-scene-one" data-begin="20.130" data-dur="0.510">Caesar</span>
<span class="subs-scene-one" data-begin="20.640" data-dur="0.480">gedroegen</span>
<span class="subs-scene-one" data-begin="21.120" data-dur="0.120">ze</span>
<span class="subs-scene-one" data-begin="21.240" data-dur="0.140">zich</span>
<span class="subs-scene-one" data-begin="21.480" data-dur="0.360">zo</span>
<span class="subs-scene-one" data-begin="21.840" data-dur="0.340">omdat</span>
<span class="subs-scene-one" data-begin="22.170" data-dur="0.120">ze</span>
<span class="subs-scene-one" data-begin="22.290" data-dur="0.150">de</span>
<span class="subs-scene-one" data-begin="22.440" data-dur="0.360">enige</span>
<span class="subs-scene-one" data-begin="22.800" data-dur="0.090">in</span>
<span class="subs-scene-one" data-begin="22.890" data-dur="0.060">de</span>
<span class="subs-scene-one" data-begin="22.950" data-dur="0.450">omgeving</span>
<span class="subs-scene-one" data-begin="23.400" data-dur="0.240">wilden</span>
<span class="subs-scene-one" data-begin="23.640" data-dur="0.360">blijven.</span>

<span class="subs-scene-one" data-begin="24.720" data-dur="0.170">Omdat</span>
<span class="subs-scene-one" data-begin="24.990" data-dur="0.090">ze</span>
<span class="subs-scene-one" data-begin="25.080" data-dur="0.110">zo</span>
<span class="subs-scene-one" data-begin="25.290" data-dur="0.480">barbaars</span>
<span class="subs-scene-one" data-begin="25.770" data-dur="0.540">waren, </span>
<span class="subs-scene-one" data-begin="26.310" data-dur="0.270">vonden</span>
<span class="subs-scene-one" data-begin="26.580" data-dur="0.090">de</span>
<span class="subs-scene-one" data-begin="26.670" data-dur="0.450">Romeinen</span>
<span class="subs-scene-one" data-begin="27.120" data-dur="0.120">de</span>
<span class="subs-scene-one" data-begin="27.240" data-dur="0.510">Germanen</span>
<span class="subs-scene-one" data-begin="27.750" data-dur="0.770">ongeschikt</span>
<span class="subs-scene-one" data-begin="28.470" data-dur="0.150">om</span>
<span class="subs-scene-one" data-begin="28.620" data-dur="0.270">deel</span>
<span class="subs-scene-one" data-begin="28.890" data-dur="0.150">uit</span>
<span class="subs-scene-one" data-begin="29.040" data-dur="0.090">te</span>
<span class="subs-scene-one" data-begin="29.130" data-dur="0.270">maken</span>
<span class="subs-scene-one" data-begin="29.400" data-dur="0.120">van</span>
<span class="subs-scene-one" data-begin="29.520" data-dur="0.090">hun</span>
<span class="subs-scene-one" data-begin="29.610" data-dur="0.290">rijk.</span>

<span class="divider subs-scene-one"></span>

<span class="subs-scene-one" data-begin="30.660" data-dur="0.110">De</span>
<span class="subs-scene-one" data-begin="30.750" data-dur="0.750">Galliërs, </span>
<span class="subs-scene-one" data-begin="31.410" data-dur="0.170">meer</span>
<span class="subs-scene-one" data-begin="31.680" data-dur="0.250">naar</span>
<span class="subs-scene-one" data-begin="31.830" data-dur="0.120">het</span>
<span class="subs-scene-one" data-begin="31.950" data-dur="0.510">zuiden, </span>
<span class="subs-scene-one" data-begin="32.460" data-dur="0.300">werden</span>
<span class="subs-scene-one" data-begin="32.760" data-dur="0.240">wel</span>
<span class="subs-scene-one" data-begin="33.000" data-dur="0.390">geschikt</span>
<span class="subs-scene-one" data-begin="33.390" data-dur="0.450">beschouwd</span>
<span class="subs-scene-one" data-begin="33.840" data-dur="0.270">omdat</span>
<span class="subs-scene-one" data-begin="34.110" data-dur="0.110">zij</span>
<span class="subs-scene-one" data-begin="34.320" data-dur="0.150">zich</span>
<span class="subs-scene-one" data-begin="34.470" data-dur="0.370">genoeg</span>
<span class="subs-scene-one" data-begin="34.740" data-dur="0.240">konden</span>
<span class="subs-scene-one" data-begin="35.010" data-dur="0.490">aanpassen.</span>

<span class="subs-scene-one" data-begin="36.360" data-dur="0.580">Daarom</span>
<span class="subs-scene-one" data-begin="36.840" data-dur="0.320">moesten</span>
<span class="subs-scene-one" data-begin="37.200" data-dur="0.120">de</span>
<span class="subs-scene-one" data-begin="37.320" data-dur="0.510">Germanen</span>
<span class="subs-scene-one" data-begin="37.830" data-dur="0.300">onder</span>
<span class="subs-scene-one" data-begin="38.130" data-dur="0.090">de</span>
<span class="subs-scene-one" data-begin="38.220" data-dur="0.370">Rijn</span>
<span class="subs-scene-one" data-begin="38.490" data-dur="0.450">verdreven</span>
<span class="subs-scene-one" data-begin="38.940" data-dur="0.260">worden.</span>

<span class="subs-scene-one" data-begin="40.020" data-dur="0.450">Germanen</span>
<span class="subs-scene-one" data-begin="40.470" data-dur="0.120">die</span>
<span class="subs-scene-one" data-begin="40.590" data-dur="0.150">nog</span>
<span class="subs-scene-one" data-begin="40.740" data-dur="0.240">onder</span>
<span class="subs-scene-one" data-begin="40.980" data-dur="0.060">de</span>
<span class="subs-scene-one" data-begin="41.040" data-dur="0.270">Rijn</span>
<span class="subs-scene-one" data-begin="41.310" data-dur="0.570">woonden, </span>
<span class="subs-scene-one" data-begin="41.880" data-dur="0.210">werden</span>
<span class="subs-scene-one" data-begin="42.090" data-dur="0.600">aangevallen</span>
<span class="subs-scene-one" data-begin="42.690" data-dur="0.090">en</span>
<span class="subs-scene-one" data-begin="42.780" data-dur="0.510">geplunderd</span>
<span class="subs-scene-one" data-begin="43.290" data-dur="0.120">door</span>
<span class="subs-scene-one" data-begin="43.410" data-dur="0.060">de</span>
<span class="subs-scene-one" data-begin="43.470" data-dur="0.630">Romeinen</span>
<span class="subs-scene-one" data-begin="44.100" data-dur="0.110">en</span>
<span class="subs-scene-one" data-begin="44.220" data-dur="0.300">sloegen</span>
<span class="subs-scene-one" data-begin="44.520" data-dur="0.090">op</span>
<span class="subs-scene-one" data-begin="44.610" data-dur="0.090">de</span>
<span class="subs-scene-one" data-begin="44.700" data-dur="0.300">vlucht.</span>

<span class="subs-scene-one" data-begin="45.960" data-dur="0.150">Ze</span>
<span class="subs-scene-one" data-begin="46.110" data-dur="0.100">lieten</span>
<span class="subs-scene-one" data-begin="46.380" data-dur="0.170">dan</span>
<span class="subs-scene-one" data-begin="46.590" data-dur="0.180">hun</span>
<span class="subs-scene-one" data-begin="46.770" data-dur="0.600">waardevolle</span>
<span class="subs-scene-one" data-begin="47.370" data-dur="0.510">eigendommen</span>
<span class="subs-scene-one" data-begin="47.880" data-dur="0.480">begraven</span>
<span class="subs-scene-one" data-begin="48.360" data-dur="0.090">in</span>
<span class="subs-scene-one" data-begin="48.450" data-dur="0.060">de</span>
<span class="subs-scene-one" data-begin="48.510" data-dur="0.270">grond</span>
<span class="subs-scene-one" data-begin="48.780" data-dur="0.320">achter.</span>

<span class="subs-scene-one" data-begin="49.920" data-dur="0.180">Hun</span>
<span class="subs-scene-one" data-begin="50.100" data-dur="0.390">akkers</span>
<span class="subs-scene-one" data-begin="50.490" data-dur="0.210">werden</span>
<span class="subs-scene-one" data-begin="50.700" data-dur="0.060">in</span>
<span class="subs-scene-one" data-begin="50.760" data-dur="0.270">brand</span>
<span class="subs-scene-one" data-begin="51.030" data-dur="0.510">gestoken</span>
<span class="subs-scene-one" data-begin="51.540" data-dur="0.090">en</span>
<span class="subs-scene-one" data-begin="51.630" data-dur="0.090">hun</span>
<span class="subs-scene-one" data-begin="51.720" data-dur="0.110">vee</span>
<span class="subs-scene-one" data-begin="51.930" data-dur="0.630">afgeslacht.</span>

<span class="subs-scene-one" data-begin="53.400" data-dur="0.600">Germanen</span>
<span class="subs-scene-one" data-begin="54.000" data-dur="0.120">die</span>
<span class="subs-scene-one" data-begin="54.120" data-dur="0.180">zich</span>
<span class="subs-scene-one" data-begin="54.300" data-dur="0.180">niet</span>
<span class="subs-scene-one" data-begin="54.480" data-dur="0.500">overgaven</span>
<span class="subs-scene-one" data-begin="55.080" data-dur="0.140">werden</span>
<span class="subs-scene-one" data-begin="55.320" data-dur="0.340">gedood.</span>

<span class="divider subs-scene-one"></span>

<span class="subs-scene-one" data-begin="56.160" data-dur="0.190">Dat</span>
<span class="subs-scene-one" data-begin="56.370" data-dur="0.150">was</span>
<span class="subs-scene-one" data-begin="56.520" data-dur="0.120">de</span>
<span class="subs-scene-one" data-begin="56.640" data-dur="0.330">vroegst</span>
<span class="subs-scene-one" data-begin="56.970" data-dur="0.600">bekendste</span>
<span class="subs-scene-one" data-begin="57.570" data-dur="0.570">veldslag</span>
<span class="subs-scene-one" data-begin="58.140" data-dur="0.090">op</span>
<span class="subs-scene-one" data-begin="58.230" data-dur="0.120">het</span>
<span class="subs-scene-one" data-begin="58.350" data-dur="0.510">grondgebied</span>
<span class="subs-scene-one" data-begin="58.860" data-dur="0.150">van</span>
<span class="subs-scene-one" data-begin="59.010" data-dur="0.720">Nederland</span>
<span class="subs-scene-one" data-begin="59.730" data-dur="0.320">en</span>
<span class="subs-scene-one" data-begin="60.060" data-dur="0.630">Caesars</span>
<span class="subs-scene-one" data-begin="60.690" data-dur="0.450">grootste</span>
<span class="subs-scene-one" data-begin="61.140" data-dur="0.630">massamoord</span>
<span class="subs-scene-one" data-begin="61.770" data-dur="0.230">ooit.</span>

<span class="subs-scene-one" data-begin="63.000" data-dur="0.150">Een</span>
<span class="subs-scene-one" data-begin="63.150" data-dur="0.270">deel</span>
<span class="subs-scene-one" data-begin="63.420" data-dur="0.120">van</span>
<span class="subs-scene-one" data-begin="63.540" data-dur="0.090">de</span>
<span class="subs-scene-one" data-begin="63.630" data-dur="0.720">overblijfselen</span>
<span class="subs-scene-one" data-begin="64.350" data-dur="0.120">van</span>
<span class="subs-scene-one" data-begin="64.470" data-dur="0.270">deze</span>
<span class="subs-scene-one" data-begin="64.740" data-dur="0.520">veldslagen</span>
<span class="subs-scene-one" data-begin="65.280" data-dur="0.150">zijn</span>
<span class="subs-scene-one" data-begin="65.430" data-dur="0.690">botten, </span>
<span class="subs-scene-one" data-begin="66.120" data-dur="0.390">munten</span>
<span class="subs-scene-one" data-begin="66.510" data-dur="0.150">en</span>
<span class="subs-scene-one" data-begin="66.660" data-dur="0.560">sieraden</span>
<span class="subs-scene-one" data-begin="67.220" data-dur="0.200">die</span>
<span class="subs-scene-one" data-begin="67.420" data-dur="0.200">zijn</span>
<span class="subs-scene-one" data-begin="67.620" data-dur="0.420">gevonden</span>
<span class="subs-scene-one" data-begin="68.040" data-dur="0.080">op</span>
<span class="subs-scene-one" data-begin="68.160" data-dur="0.120">een</span>
<span class="subs-scene-one" data-begin="68.280" data-dur="0.990">landstrook</span>
<span class="subs-scene-one" data-begin="69.270" data-dur="0.390">tussen</span>
<span class="subs-scene-one" data-begin="69.570" data-dur="0.060">de</span>
<span class="subs-scene-one" data-begin="69.630" data-dur="0.420">rivieren</span>
<span class="subs-scene-one" data-begin="70.050" data-dur="0.130">de</span>
<span class="subs-scene-one" data-begin="70.170" data-dur="0.360">Maas</span>
<span class="subs-scene-one" data-begin="70.530" data-dur="0.090">en</span>
<span class="subs-scene-one" data-begin="70.620" data-dur="0.090">de</span>
<span class="subs-scene-one" data-begin="70.710" data-dur="0.350">Waal</span>
<span class="subs-scene-one" data-begin="71.070" data-dur="0.150">bij</span>
<span class="subs-scene-one" data-begin="71.220" data-dur="0.450">Kessel</span>
<span class="subs-scene-one" data-begin="71.670" data-dur="0.150">in</span>
<span class="subs-scene-one" data-begin="71.820" data-dur="0.580">Brabant.</span>

<span class="divider subs-scene-one"></span>

<span class="subs-scene-one" data-begin="73.050" data-dur="0.130">De</span>
<span class="subs-scene-one" data-begin="73.170" data-dur="0.580">Germanen</span>
<span class="subs-scene-one" data-begin="73.650" data-dur="0.130">die</span>
<span class="subs-scene-one" data-begin="73.770" data-dur="0.240">niet</span>
<span class="subs-scene-one" data-begin="74.010" data-dur="0.240">over</span>
<span class="subs-scene-one" data-begin="74.250" data-dur="0.060">de</span>
<span class="subs-scene-one" data-begin="74.310" data-dur="0.270">Rijn</span>
<span class="subs-scene-one" data-begin="74.580" data-dur="0.630">kwamen, </span>
<span class="subs-scene-one" data-begin="75.210" data-dur="0.120">werden</span>
<span class="subs-scene-one" data-begin="75.420" data-dur="0.600">meegenomen</span>
<span class="subs-scene-one" data-begin="76.020" data-dur="0.090">naar</span>
<span class="subs-scene-one" data-begin="76.110" data-dur="0.390">Rome</span>
<span class="subs-scene-one" data-begin="76.500" data-dur="0.180">om</span>
<span class="subs-scene-one" data-begin="76.680" data-dur="0.150">aan</span>
<span class="subs-scene-one" data-begin="76.830" data-dur="0.090">het</span>
<span class="subs-scene-one" data-begin="76.920" data-dur="0.510">Romeinse</span>
<span class="subs-scene-one" data-begin="77.430" data-dur="0.240">volk</span>
<span class="subs-scene-one" data-begin="77.670" data-dur="0.750">tentoongesteld</span>
<span class="subs-scene-one" data-begin="78.420" data-dur="0.090">te</span>
<span class="subs-scene-one" data-begin="78.510" data-dur="0.300">worden.</span>

<span class="subs-scene-one" data-begin="79.410" data-dur="0.150">Ze</span>
<span class="subs-scene-one" data-begin="79.560" data-dur="0.300">droegen</span>
<span class="subs-scene-one" data-begin="79.860" data-dur="0.630">broeken</span>
<span class="subs-scene-one" data-begin="80.490" data-dur="0.120">en</span>
<span class="subs-scene-one" data-begin="80.610" data-dur="0.300">volgens</span>
<span class="subs-scene-one" data-begin="80.910" data-dur="0.090">de</span>
<span class="subs-scene-one" data-begin="81.000" data-dur="0.450">Romeinen</span>
<span class="subs-scene-one" data-begin="81.450" data-dur="0.360">dragen</span>
<span class="subs-scene-one" data-begin="81.810" data-dur="0.440">beschaafde</span>
<span class="subs-scene-one" data-begin="82.320" data-dur="0.270">mensen</span>
<span class="subs-scene-one" data-begin="82.590" data-dur="0.410">alleen</span>
<span class="subs-scene-one" data-begin="82.860" data-dur="0.680">toga's.</span>

<span class="subs-scene-one" data-begin="84.240" data-dur="0.150">Hun</span>
<span class="subs-scene-one" data-begin="84.390" data-dur="0.610">lange, </span>
<span class="subs-scene-one" data-begin="84.780" data-dur="0.360">vieze</span>
<span class="subs-scene-one" data-begin="85.140" data-dur="0.270">haar</span>
<span class="subs-scene-one" data-begin="85.410" data-dur="0.090">en</span>
<span class="subs-scene-one" data-begin="85.500" data-dur="0.420">snorren</span>
<span class="subs-scene-one" data-begin="85.920" data-dur="0.220">vinden</span>
<span class="subs-scene-one" data-begin="86.160" data-dur="0.090">ze</span>
<span class="subs-scene-one" data-begin="86.250" data-dur="0.180">ook</span>
<span class="subs-scene-one" data-begin="86.430" data-dur="0.590">belachelijk.</span>