<span class="hide-sub" data-begin="0.330" data-dur="0.330">Dwars </span>
<span class="hide-sub" data-begin="0.660" data-dur="0.150">door</span>
<span class="hide-sub" data-begin="0.810" data-dur="0.550">Nederland</span>
<span class="hide-sub" data-begin="1.440" data-dur="0.100">stroomt</span>
<span class="hide-sub" data-begin="1.620" data-dur="0.180">de</span>
<span class="hide-sub" data-begin="2.040" data-dur="0.440">rivier</span>
<span class="hide-sub" data-begin="2.400" data-dur="0.090">de</span>
<span class="hide-sub" data-begin="2.490" data-dur="0.580">Rijn.</span>

<span class="hide-sub" data-begin="2.970" data-dur="0.100">Het</span>
<span class="hide-sub" data-begin="3.090" data-dur="0.050">is</span>
<span class="hide-sub" data-begin="3.210" data-dur="0.100">een</span>
<span class="hide-sub" data-begin="3.300" data-dur="0.200">oude</span>
<span class="hide-sub" data-begin="3.540" data-dur="0.200">rivier</span>
<span class="hide-sub" data-begin="4.020" data-dur="0.140">die</span>
<span class="hide-sub" data-begin="4.140" data-dur="0.100">er</span>
<span class="hide-sub" data-begin="4.230" data-dur="0.100">al</span>
<span class="hide-sub" data-begin="4.350" data-dur="0.120">stroomt</span>
<span class="hide-sub" data-begin="4.800" data-dur="0.200">zolang</span>
<span class="hide-sub" data-begin="5.200" data-dur="0.200">als</span>
<span class="hide-sub" data-begin="5.300" data-dur="0.100">hier</span>
<span class="hide-sub" data-begin="5.490" data-dur="0.200">mensen</span>
<span class="hide-sub" data-begin="5.790" data-dur="0.200">wonen.</span>

<span class="hide-sub" data-begin="6.180" data-dur="0.100">En</span>
<span class="hide-sub" data-begin="6.330" data-dur="0.100">ook</span>
<span class="hide-sub" data-begin="6.480" data-dur="0.050">de</span>
<span class="hide-sub" data-begin="6.570" data-dur="0.500">Romeinen,</span>
<span class="hide-sub" data-begin="7.140" data-dur="0.100">die</span>
<span class="hide-sub" data-begin="7.260" data-dur="0.500">zagen</span>
<span class="hide-sub" data-begin="7.620" data-dur="0.100">de</span>
<span class="hide-sub" data-begin="7.710" data-dur="0.200">Rijn</span>
<span class="hide-sub" data-begin="7.920" data-dur="0.100">toen</span>
<span class="hide-sub" data-begin="8.070" data-dur="0.100">zij</span>
<span class="hide-sub" data-begin="8.190" data-dur="0.200">hier</span>
<span class="hide-sub" data-begin="8.370" data-dur="0.400">kwamen</span>
<span class="hide-sub" data-begin="8.730" data-dur="0.300">rond</span>
<span class="hide-sub" data-begin="9.030" data-dur="0.100">het</span>
<span class="hide-sub" data-begin="9.120" data-dur="0.200">jaar</span>
<span class="hide-sub" data-begin="9.360" data-dur="0.400">50</span>
<span class="hide-sub" data-begin="9.750" data-dur="0.400">voor</span>
<span class="hide-sub" data-begin="9.870" data-dur="0.500">Christus.</span>

<span class="hide-sub" data-begin="10.380" data-dur="0.100">En</span>
<span class="hide-sub" data-begin="10.440" data-dur="0.200">zij</span>
<span class="hide-sub" data-begin="10.650" data-dur="0.600">besloten</span>
<span class="hide-sub" data-begin="11.280" data-dur="0.200">dat</span>
<span class="hide-sub" data-begin="11.430" data-dur="0.100">ze</span>
<span class="hide-sub" data-begin="11.520" data-dur="0.200">hier</span>
<span class="hide-sub" data-begin="11.730" data-dur="0.050">een</span>
<span class="hide-sub" data-begin="11.790" data-dur="0.700">perfecte</span>
<span class="hide-sub" data-begin="12.450" data-dur="0.450">noordelijke</span>
<span class="hide-sub" data-begin="13.080" data-dur="0.300">grens</span>
<span class="hide-sub" data-begin="13.380" data-dur="0.240">konden</span>
<span class="hide-sub" data-begin="13.620" data-dur="0.300">bouwen.</span>

<span class="hide-sub" data-begin="13.950" data-dur="0.120">En</span>
<span class="hide-sub" data-begin="14.070" data-dur="0.400">vandaag</span>
<span class="hide-sub" data-begin="14.490" data-dur="0.200">op</span>
<span class="hide-sub" data-begin="14.610" data-dur="0.500">deze</span>
<span class="hide-sub" data-begin="15.120" data-dur="0.400">enigzins</span>
<span class="hide-sub" data-begin="15.540" data-dur="0.600">regenachtige</span>
<span class="hide-sub" data-begin="16.140" data-dur="0.100">dag,</span>
<span class="hide-sub" data-begin="16.190" data-dur="0.200">gaan</span>
<span class="hide-sub" data-begin="16.190" data-dur="0.200">we</span>
<span class="hide-sub" data-begin="16.710" data-dur="0.100">de</span>
<span class="hide-sub" data-begin="16.800" data-dur="0.700">noordelijke</span>
<span class="hide-sub" data-begin="17.310" data-dur="0.400">grens</span>
<span class="hide-sub" data-begin="17.700" data-dur="0.100">van</span>
<span class="hide-sub" data-begin="17.820" data-dur="0.100">het</span>
<span class="hide-sub" data-begin="17.960" data-dur="0.400">Romeinse</span>
<span class="hide-sub" data-begin="18.330" data-dur="0.400">rijk</span>
<span class="hide-sub" data-begin="18.570" data-dur="0.400">ontdekken.</span>

<span class="hide-sub" data-begin="18.990" data-dur="0.200">Dit</span>
<span class="hide-sub" data-begin="19.170" data-dur="0.300">bord</span>
<span class="hide-sub" data-begin="19.410" data-dur="0.500">hier</span>
<span class="hide-sub" data-begin="19.920" data-dur="0.300">staat</span>
<span class="hide-sub" data-begin="20.250" data-dur="0.200">hier</span>
<span class="hide-sub" data-begin="20.400" data-dur="0.100">om</span>
<span class="hide-sub" data-begin="20.520" data-dur="0.100">te</span>
<span class="hide-sub" data-begin="20.610" data-dur="0.600">herdenken</span>
<span class="hide-sub" data-begin="21.240" data-dur="0.200">dat</span>
<span class="hide-sub" data-begin="21.420" data-dur="0.200">dit</span>
<span class="hide-sub" data-begin="21.630" data-dur="0.300">ooit</span>
<span class="hide-sub" data-begin="21.960" data-dur="0.100">de</span>
<span class="hide-sub" data-begin="22.080" data-dur="0.500">grens</span>
<span class="hide-sub" data-begin="22.500" data-dur="0.200">was</span>
<span class="hide-sub" data-begin="22.770" data-dur="0.200">van</span>
<span class="hide-sub" data-begin="22.950" data-dur="0.200">het</span>
<span class="hide-sub" data-begin="23.040" data-dur="0.450">Romeinse</span>
<span class="hide-sub" data-begin="23.490" data-dur="0.400">rijk.</span>

<span class="hide-sub" data-begin="23.820" data-dur="0.300">"Tot</span>
<span class="hide-sub" data-begin="24.060" data-dur="0.600">hier".</span>

<span class="hide-sub" data-begin="24.660" data-dur="0.100">Maar</span>
<span class="hide-sub" data-begin="24.780" data-dur="0.200">wat</span>
<span class="hide-sub" data-begin="24.930" data-dur="0.200">is</span>
<span class="hide-sub" data-begin="25.110" data-dur="0.060">de</span>
<span class="hide-sub" data-begin="25.170" data-dur="0.500">Romeinse</span>
<span class="hide-sub" data-begin="25.620" data-dur="0.300">grens</span>
<span class="hide-sub" data-begin="25.920" data-dur="0.200">nou</span>
<span class="hide-sub" data-begin="26.100" data-dur="0.600">precies?</span>

<span class="hide-sub" data-begin="26.670" data-dur="0.200">Bij</span>
<span class="hide-sub" data-begin="26.810" data-dur="0.500">een</span>
<span class="hide-sub" data-begin="26.880" data-dur="0.000">grens</span>
<span class="hide-sub" data-begin="27.330" data-dur="0.200">hebben</span>
<span class="hide-sub" data-begin="27.510" data-dur="0.050">we</span>
<span class="hide-sub" data-begin="27.570" data-dur="0.200">namelijk</span>
<span class="hide-sub" data-begin="27.930" data-dur="0.150">heel</span>
<span class="hide-sub" data-begin="28.080" data-dur="0.200">erg</span>
<span class="hide-sub" data-begin="28.230" data-dur="0.000">de</span>
<span class="hide-sub" data-begin="28.320" data-dur="0.100">neiging</span>
<span class="hide-sub" data-begin="28.650" data-dur="0.100">om</span>
<span class="hide-sub" data-begin="28.740" data-dur="0.100">te</span>
<span class="hide-sub" data-begin="28.860" data-dur="0.500">denken</span>
<span class="hide-sub" data-begin="29.340" data-dur="0.100">aan</span>
<span class="hide-sub" data-begin="29.490" data-dur="0.100">een</span>
<span class="hide-sub" data-begin="29.550" data-dur="0.500">lijn</span>
<span class="hide-sub" data-begin="30.060" data-dur="0.200">op</span>
<span class="hide-sub" data-begin="30.240" data-dur="0.100">een</span>
<span class="hide-sub" data-begin="30.330" data-dur="0.500">kaart.</span>

<span class="hide-sub" data-begin="30.840" data-dur="0.100">Maar</span>
<span class="hide-sub" data-begin="30.990" data-dur="0.150">in</span>
<span class="hide-sub" data-begin="31.050" data-dur="0.090">het</span>
<span class="hide-sub" data-begin="31.140" data-dur="0.300">geval</span>
<span class="hide-sub" data-begin="31.410" data-dur="0.150">van</span>
<span class="hide-sub" data-begin="31.560" data-dur="0.090">de</span>
<span class="hide-sub" data-begin="31.650" data-dur="0.600">Romeinen</span>
<span class="hide-sub" data-begin="32.250" data-dur="0.150">is</span>
<span class="hide-sub" data-begin="32.400" data-dur="0.080">dat</span>
<span class="hide-sub" data-begin="32.580" data-dur="0.090">te</span>
<span class="hide-sub" data-begin="32.670" data-dur="0.500">simpel.</span>

<span class="hide-sub" data-begin="33.120" data-dur="0.150">Als</span>
<span class="hide-sub" data-begin="33.270" data-dur="0.060">we</span>
<span class="hide-sub" data-begin="33.330" data-dur="0.270">overal</span>
<span class="hide-sub" data-begin="33.600" data-dur="0.120">naar</span>
<span class="hide-sub" data-begin="33.720" data-dur="0.090">het</span>
<span class="hide-sub" data-begin="33.810" data-dur="0.220">uiterlijk</span>
<span class="hide-sub" data-begin="34.230" data-dur="0.300">kijken</span>
<span class="hide-sub" data-begin="34.530" data-dur="0.120">van</span>
<span class="hide-sub" data-begin="34.650" data-dur="0.090">de</span>
<span class="hide-sub" data-begin="34.740" data-dur="0.350">grens,</span>
<span class="hide-sub" data-begin="35.070" data-dur="0.070">dan</span>
<span class="hide-sub" data-begin="35.160" data-dur="0.290">moeten</span>
<span class="hide-sub" data-begin="35.370" data-dur="0.060">we</span>
<span class="hide-sub" data-begin="35.430" data-dur="0.600">beseffen</span>
<span class="hide-sub" data-begin="36.030" data-dur="0.080">dat</span>
<span class="hide-sub" data-begin="36.210" data-dur="0.180">het</span>
<span class="hide-sub" data-begin="36.390" data-dur="0.510">onderdeel</span>
<span class="hide-sub" data-begin="36.900" data-dur="0.750">uitmaakte</span>
<span class="hide-sub" data-begin="37.650" data-dur="0.180">van</span>
<span class="hide-sub" data-begin="37.830" data-dur="0.180">iets</span>
<span class="hide-sub" data-begin="38.010" data-dur="0.540">veel</span>
<span class="hide-sub" data-begin="38.550" data-dur="0.560">groters.</span>