<!-- <span data-begin="0.000" data-dur="0.330">Dwars </span>
<span data-begin="0.330" data-dur="0.660">door</span>
<span data-begin="0.660" data-dur="0.810">Nederland</span>
<span data-begin="0.810" data-dur="1.440">stroomt</span>
<span data-begin="1.440" data-dur="1.629">de</span>
<span data-begin="1.629" data-dur="2.040">rivier</span>
<span data-begin="2.040" data-dur="2.400">de</span>
<span data-begin="2.400" data-dur="2.490">Rijn.</span> -->

<span data-begin="0.330" data-dur="0.200">Dwars </span>
<span data-begin="0.660" data-dur="0.050">door</span>
<span data-begin="0.810" data-dur="0.400">Nederland</span>
<span data-begin="1.440" data-dur="0.200">stroomt</span>
<span data-begin="1.629" data-dur="0.200">de</span>
<span data-begin="2.040" data-dur="0.200">rivier</span>
<span data-begin="2.400" data-dur="0.050">de</span>
<span data-begin="2.490" data-dur="0.200">Rijn.</span>

<span data-begin="2.970" data-dur="0.100">Het</span>
<span data-begin="3.090" data-dur="0.050">is</span>
<span data-begin="3.210" data-dur="0.100">een</span>
<span data-begin="3.300" data-dur="0.200">oude</span>
<span data-begin="3.540" data-dur="0.200">rivier</span>
<span data-begin="4.020" data-dur="0.140">die</span>
<span data-begin="4.140" data-dur="0.100">er</span>
<span data-begin="4.230" data-dur="0.100">al</span>
<span data-begin="4.350" data-dur="0.120">stroomt</span>
<span data-begin="4.800" data-dur="0.200">zolang</span>
<span data-begin="5.200" data-dur="0.200">als</span>
<span data-begin="5.300" data-dur="0.100">hier</span>
<span data-begin="5.490" data-dur="0.200">mensen</span>
<span data-begin="5.790" data-dur="0.200">wonen.</span>

<!-- <span data-begin="5.720" data-dur="6.180">En</span>
<span data-begin="6.180" data-dur="6.330">ook</span>
<span data-begin="6.330" data-dur="6.480">de</span>
<span data-begin="6.480" data-dur="6.570">Romeinen,</span>
<span data-begin="6.570" data-dur="7.140">die</span>
<span data-begin="7.140" data-dur="7.260">zagen</span>
<span data-begin="7.260" data-dur="7.620">de</span>
<span data-begin="7.620" data-dur="7.710">Rijn</span>
<span data-begin="7.710" data-dur="7.920">toen</span>
<span data-begin="7.920" data-dur="8.070">zij</span>
<span data-begin="8.070" data-dur="8.190">hier</span>
<span data-begin="8.190" data-dur="8.370">kwamen</span>
<span data-begin="8.370" data-dur="8.730">rond</span>
<span data-begin="8.730" data-dur="9.030">het</span>
<span data-begin="9.030" data-dur="9.120">jaar</span>
<span data-begin="9.120" data-dur="9.360">50</span>
<span data-begin="9.360" data-dur="9.750">voor</span>
<span data-begin="9.750" data-dur="9.870">Christus.</span> -->

<!-- <span data-begin="" data-dur="">En</span>
<span data-begin="" data-dur="">zij</span>
<span data-begin="" data-dur="">besloten</span>
<span data-begin="" data-dur="">dat</span>
<span data-begin="" data-dur="">ze</span>
<span data-begin="" data-dur="">hier</span>
<span data-begin="" data-dur="">een</span>
<span data-begin="" data-dur="">perfecte</span>
<span data-begin="" data-dur="">noordelijke</span>
<span data-begin="" data-dur="">grens</span>
<span data-begin="" data-dur="">konden</span>
<span data-begin="" data-dur="">bouwen</span>

<span data-begin="" data-dur="">En</span>
<span data-begin="" data-dur="">vandaag</span>
<span data-begin="" data-dur="">op</span>
<span data-begin="" data-dur="">deze,</span>
<span data-begin="" data-dur="">enigzins</span>
<span data-begin="" data-dur="">regenachtige</span>
<span data-begin="" data-dur="">dag,</span>
<span data-begin="" data-dur="">gaan</span>
<span data-begin="" data-dur="">we</span>
<span data-begin="" data-dur="">de</span>
<span data-begin="" data-dur="">noordelijke</span>
<span data-begin="" data-dur="">grens</span>
<span data-begin="" data-dur="">van</span>
<span data-begin="" data-dur="">het</span>
<span data-begin="" data-dur="">Romeinse</span>
<span data-begin="" data-dur="">Rijk</span>
<span data-begin="" data-dur="">ontdekken.</span>

<span data-begin="" data-dur="">Dit</span>
<span data-begin="" data-dur="">bord</span>
<span data-begin="" data-dur="">hier</span>
<span data-begin="" data-dur="">staat</span>
<span data-begin="" data-dur="">hier</span>
<span data-begin="" data-dur="">om</span>
<span data-begin="" data-dur="">te</span>
<span data-begin="" data-dur="">herdenken</span>
<span data-begin="" data-dur="">dat</span>
<span data-begin="" data-dur="">dit</span>
<span data-begin="" data-dur="">ooit</span>
<span data-begin="" data-dur="">de</span>
<span data-begin="" data-dur="">grens</span>
<span data-begin="" data-dur="">was</span>
<span data-begin="" data-dur="">van</span>
<span data-begin="" data-dur="">het</span>
<span data-begin="" data-dur="">Romeinse</span>
<span data-begin="" data-dur="">Rijk.</span>

<span data-begin="" data-dur="">"Tot</span>
<span data-begin="" data-dur="">hier".</span>

<span data-begin="" data-dur="">Maar</span>
<span data-begin="" data-dur="">wat</span>
<span data-begin="" data-dur="">is</span>
<span data-begin="" data-dur="">de</span>
<span data-begin="" data-dur="">Romeinse</span>
<span data-begin="" data-dur="">grens</span>
<span data-begin="" data-dur="">nou</span>
<span data-begin="" data-dur="">precies?</span>

<span data-begin="" data-dur="">Bij</span>
<span data-begin="" data-dur="">een</span>
<span data-begin="" data-dur="">grens</span>
<span data-begin="" data-dur="">hebben</span>
<span data-begin="" data-dur="">we</span>
<span data-begin="" data-dur="">vaak</span>
<span data-begin="" data-dur="">heel</span>
<span data-begin="" data-dur="">erg</span>
<span data-begin="" data-dur="">de</span>
<span data-begin="" data-dur="">neiging</span>
<span data-begin="" data-dur="">om</span>
<span data-begin="" data-dur="">te</span>
<span data-begin="" data-dur="">denken</span>
<span data-begin="" data-dur="">aan</span>
<span data-begin="" data-dur="">een</span>
<span data-begin="" data-dur="">lijn</span>
<span data-begin="" data-dur="">op</span>
<span data-begin="" data-dur="">een</span>
<span data-begin="" data-dur="">kaart.</span>

<span data-begin="" data-dur="">Maar</span>
<span data-begin="" data-dur="">in</span>
<span data-begin="" data-dur="">het</span>
<span data-begin="" data-dur="">geval</span>
<span data-begin="" data-dur="">van</span>
<span data-begin="" data-dur="">de</span>
<span data-begin="" data-dur="">Romeinen</span>
<span data-begin="" data-dur="">is</span>
<span data-begin="" data-dur="">dat</span>
<span data-begin="" data-dur="">te</span>
<span data-begin="" data-dur="">simpel.</span>

<span data-begin="" data-dur="">Als</span>
<span data-begin="" data-dur="">we</span>
<span data-begin="" data-dur="">overal</span>
<span data-begin="" data-dur="">naar</span>
<span data-begin="" data-dur="">het</span>
<span data-begin="" data-dur="">uiterlijk</span>
<span data-begin="" data-dur="">kijken</span>
<span data-begin="" data-dur="">van</span>
<span data-begin="" data-dur="">de</span>
<span data-begin="" data-dur="">grens,</span>
<span data-begin="" data-dur="">dan</span>
<span data-begin="" data-dur="">moeten</span>
<span data-begin="" data-dur="">we</span>
<span data-begin="" data-dur="">beseffen</span>
<span data-begin="" data-dur="">dat</span>
<span data-begin="" data-dur="">het</span>
<span data-begin="" data-dur="">onderdeel</span>
<span data-begin="" data-dur="">uitmaakte</span>
<span data-begin="" data-dur="">van</span>
<span data-begin="" data-dur="">iets</span>
<span data-begin="" data-dur="">veel</span>
<span data-begin="" data-dur="">groters.</span> -->

<!-- <span data-begin="0.000" data-dur="2.490">Dwars door Nederland stroomt de rivier de Rijn.</span>
<span data-begin="2.490" data-dur="5.970">Het is een oude rivier die er al stroomt zolang als er mensen wonen.</span>
<span data-begin="6.180" data-dur="9.870">En ook de Romeinen, die zagen de Rijn toen zij hier kwamem rond het jaar 50
    voor Christus</span>
<span data-begin="10.380" data-dur="13.671">En zij besloten dat ze hier een perfecte noordelijke grens konden
    bouwen.</span>
<span data-begin="0.000" data-dur="2.490"></span>
<span data-begin="0.000" data-dur="2.490"></span>
<span data-begin="0.000" data-dur="2.490"></span>
<span data-begin="0.000" data-dur="2.490"></span>
<span data-begin="0.000" data-dur="2.490"></span>
<span data-begin="0.000" data-dur="2.490"></span> -->