<span data-begin="0.000" data-end="0.330">Dwars </span>
<span data-begin="0.330" data-end="0.660">door</span>
<span data-begin="0.660" data-end="0.810">Nederland</span>
<span data-begin="0.810" data-end="1.440">stroomt</span>
<span data-begin="1.440" data-end="1.629">de</span>
<span data-begin="1.629" data-end="2.040">rivier</span>
<span data-begin="2.040" data-end="2.400">de</span>
<span data-begin="2.400" data-end="2.490">Rijn.</span>

<span data-begin="2.490" data-end="2.970">Het</span>
<span data-begin="2.970" data-end="3.090">is</span>
<span data-begin="3.090" data-end="3.210">een</span>
<span data-begin="3.210" data-end="3.300">oude</span>
<span data-begin="3.300" data-end="3.540">rivier</span>
<span data-begin="3.540" data-end="4.020">die</span>
<span data-begin="4.020" data-end="4.140">er</span>
<span data-begin="4.140" data-end="4.230">al</span>
<span data-begin="4.230" data-end="4.350">stroomt</span>
<span data-begin="4.350" data-end="4.800">zolang</span>
<span data-begin="4.800" data-end="5.200">als</span>
<span data-begin="5.200" data-end="5.220">hier</span>
<span data-begin="5.220" data-end="5.490">mensen</span>
<span data-begin="5.490" data-end="5.720">wonen.</span>

<span data-begin="5.720" data-end="6.180">En</span>
<span data-begin="6.180" data-end="6.330">ook</span>
<span data-begin="6.330" data-end="6.480">de</span>
<span data-begin="6.480" data-end="6.570">Romeinen,</span>
<span data-begin="6.570" data-end="7.140">die</span>
<span data-begin="7.140" data-end="7.260">zagen</span>
<span data-begin="7.260" data-end="7.620">de</span>
<span data-begin="7.620" data-end="7.710">Rijn</span>
<span data-begin="7.710" data-end="7.920">toen</span>
<span data-begin="7.920" data-end="8.070">zij</span>
<span data-begin="8.070" data-end="8.190">hier</span>
<span data-begin="8.190" data-end="8.370">kwamen</span>
<span data-begin="8.370" data-end="8.730">rond</span>
<span data-begin="8.730" data-end="9.030">het</span>
<span data-begin="9.030" data-end="9.120">jaar</span>
<span data-begin="9.120" data-end="9.360">50</span>
<span data-begin="9.360" data-end="9.750">voor</span>
<span data-begin="9.750" data-end="9.870">Christus.</span>

<span data-begin="" data-end="">En</span>
<span data-begin="" data-end="">zij</span>
<span data-begin="" data-end="">besloten</span>
<span data-begin="" data-end="">dat</span>
<span data-begin="" data-end="">ze</span>
<span data-begin="" data-end="">hier</span>
<span data-begin="" data-end="">een</span>
<span data-begin="" data-end="">perfecte</span>
<span data-begin="" data-end="">noordelijke</span>
<span data-begin="" data-end="">grens</span>
<span data-begin="" data-end="">konden</span>
<span data-begin="" data-end="">bouwen</span>

<span data-begin="" data-end="">En</span>
<span data-begin="" data-end="">vandaag</span>
<span data-begin="" data-end="">op</span>
<span data-begin="" data-end="">deze,</span>
<span data-begin="" data-end="">enigzins</span>
<span data-begin="" data-end="">regenachtige</span>
<span data-begin="" data-end="">dag,</span>
<span data-begin="" data-end="">gaan</span>
<span data-begin="" data-end="">we</span>
<span data-begin="" data-end="">de</span>
<span data-begin="" data-end="">noordelijke</span>
<span data-begin="" data-end="">grens</span>
<span data-begin="" data-end="">van</span>
<span data-begin="" data-end="">het</span>
<span data-begin="" data-end="">Romeinse</span>
<span data-begin="" data-end="">Rijk</span>
<span data-begin="" data-end="">ontdekken.</span>

<span data-begin="" data-end="">Dit</span>
<span data-begin="" data-end="">bord</span>
<span data-begin="" data-end="">hier</span>
<span data-begin="" data-end="">staat</span>
<span data-begin="" data-end="">hier</span>
<span data-begin="" data-end="">om</span>
<span data-begin="" data-end="">te</span>
<span data-begin="" data-end="">herdenken</span>
<span data-begin="" data-end="">dat</span>
<span data-begin="" data-end="">dit</span>
<span data-begin="" data-end="">ooit</span>
<span data-begin="" data-end="">de</span>
<span data-begin="" data-end="">grens</span>
<span data-begin="" data-end="">was</span>
<span data-begin="" data-end="">van</span>
<span data-begin="" data-end="">het</span>
<span data-begin="" data-end="">Romeinse</span>
<span data-begin="" data-end="">Rijk.</span>

<span data-begin="" data-end="">"Tot</span>
<span data-begin="" data-end="">hier".</span>

<span data-begin="" data-end="">Maar</span>
<span data-begin="" data-end="">wat</span>
<span data-begin="" data-end="">is</span>
<span data-begin="" data-end="">de</span>
<span data-begin="" data-end="">Romeinse</span>
<span data-begin="" data-end="">grens</span>
<span data-begin="" data-end="">nou</span>
<span data-begin="" data-end="">precies?</span>

<span data-begin="" data-end="">Bij</span>
<span data-begin="" data-end="">een</span>
<span data-begin="" data-end="">grens</span>
<span data-begin="" data-end="">hebben</span>
<span data-begin="" data-end="">we</span>
<span data-begin="" data-end="">vaak</span>
<span data-begin="" data-end="">heel</span>
<span data-begin="" data-end="">erg</span>
<span data-begin="" data-end="">de</span>
<span data-begin="" data-end="">neiging</span>
<span data-begin="" data-end="">om</span>
<span data-begin="" data-end="">te</span>
<span data-begin="" data-end="">denken</span>
<span data-begin="" data-end="">aan</span>
<span data-begin="" data-end="">een</span>
<span data-begin="" data-end="">lijn</span>
<span data-begin="" data-end="">op</span>
<span data-begin="" data-end="">een</span>
<span data-begin="" data-end="">kaart.</span>

<span data-begin="" data-end="">Maar</span>
<span data-begin="" data-end="">in</span>
<span data-begin="" data-end="">het</span>
<span data-begin="" data-end="">geval</span>
<span data-begin="" data-end="">van</span>
<span data-begin="" data-end="">de</span>
<span data-begin="" data-end="">Romeinen</span>
<span data-begin="" data-end="">is</span>
<span data-begin="" data-end="">dat</span>
<span data-begin="" data-end="">te</span>
<span data-begin="" data-end="">simpel.</span>

<span data-begin="" data-end="">Als</span>
<span data-begin="" data-end="">we</span>
<span data-begin="" data-end="">overal</span>
<span data-begin="" data-end="">naar</span>
<span data-begin="" data-end="">het</span>
<span data-begin="" data-end="">uiterlijk</span>
<span data-begin="" data-end="">kijken</span>
<span data-begin="" data-end="">van</span>
<span data-begin="" data-end="">de</span>
<span data-begin="" data-end="">grens,</span>
<span data-begin="" data-end="">dan</span>
<span data-begin="" data-end="">moeten</span>
<span data-begin="" data-end="">we</span>
<span data-begin="" data-end="">beseffen</span>
<span data-begin="" data-end="">dat</span>
<span data-begin="" data-end="">het</span>
<span data-begin="" data-end="">onderdeel</span>
<span data-begin="" data-end="">uitmaakte</span>
<span data-begin="" data-end="">van</span>
<span data-begin="" data-end="">iets</span>
<span data-begin="" data-end="">veel</span>
<span data-begin="" data-end="">groters.</span>

<!-- <span data-begin="0.000" data-end="2.490">Dwars door Nederland stroomt de rivier de Rijn.</span>
<span data-begin="2.490" data-end="5.970">Het is een oude rivier die er al stroomt zolang als er mensen wonen.</span>
<span data-begin="6.180" data-end="9.870">En ook de Romeinen, die zagen de Rijn toen zij hier kwamem rond het jaar 50
    voor Christus</span>
<span data-begin="10.380" data-end="13.671">En zij besloten dat ze hier een perfecte noordelijke grens konden
    bouwen.</span>
<span data-begin="0.000" data-end="2.490"></span>
<span data-begin="0.000" data-end="2.490"></span>
<span data-begin="0.000" data-end="2.490"></span>
<span data-begin="0.000" data-end="2.490"></span>
<span data-begin="0.000" data-end="2.490"></span>
<span data-begin="0.000" data-end="2.490"></span> -->