<span data-begin="0.000" data-end="0.330">Dwars </span>
<span data-begin="0.330" data-end="0.660">door</span>
<span data-begin="0.660" data-end="0.810">Nederland</span>
<span data-begin="0.810" data-end="1.440">stroomt</span>
<span data-begin="1.440" data-end="1.629">de</span>
<span data-begin="1.629" data-end="2.040">rivier</span>
<span data-begin="2.040" data-end="2.400">de</span>
<span data-begin="2.400" data-end="2.490">Rijn.</span>
<span data-begin="2.490" data-end="2.970">Het</span>
<span data-begin="2.970" data-end="3.090">is</span>
<span data-begin="3.090" data-end="3.210">een</span>
<span data-begin="3.210" data-end="3.300">oude</span>
<span data-begin="3.300" data-end="3.540">rivier</span>
<span data-begin="3.540" data-end="4.020">die</span>
<span data-begin="4.020" data-end="4.140">er</span>
<span data-begin="4.140" data-end="4.230">al</span>
<span data-begin="4.230" data-end="4.350">stroomt</span>
<span data-begin="4.350" data-end="4.800">zolang</span>
<span data-begin="4.800" data-end="5.200">als</span>
<span data-begin="5.200" data-end="5.220">hier</span>
<span data-begin="5.220" data-end="5.490">mensen</span>
<span data-begin="5.490" data-end="5.720">wonen.</span>