<span data-dur="0.000" data-begin="0.330">Dwars </span>
<span data-dur="0.330" data-begin="0.660">door</span>
<span data-dur="0.660" data-begin="0.810">Nederland</span>
<span data-dur="0.810" data-begin="1.440">stroomt</span>
<span data-dur="1.440" data-begin="1.629">de</span>
<span data-dur="1.629" data-begin="2.040">rivier</span>
<span data-dur="2.040" data-begin="2.400">de</span>
<span data-dur="2.400" data-begin="2.490">Rijn.</span>
<span data-dur="2.490" data-begin="2.970">Het</span>
<span data-dur="2.970" data-begin="3.090">is</span>
<span data-dur="3.090" data-begin="3.210">een</span>
<span data-dur="3.210" data-begin="3.300">oude</span>
<span data-dur="3.300" data-begin="3.540">rivier</span>
<span data-dur="3.540" data-begin="4.020">die</span>
<span data-dur="4.020" data-begin="4.140">er</span>
<span data-dur="4.140" data-begin="4.230">al</span>
<span data-dur="4.230" data-begin="4.350">stroomt</span>
<span data-dur="4.350" data-begin="4.800">zolang</span>
<span data-dur="4.800" data-begin="5.200">als</span>
<span data-dur="5.200" data-begin="5.220">hier</span>
<span data-dur="5.220" data-begin="5.490">mensen</span>
<span data-dur="5.490" data-begin="5.720">wonen</span>