*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.home-header {
  background-color: #B5B5B5;
  font-weight: 900;
  font-size: 1.3em;
  color: black;
  padding: 1em;
}

.home-main {
  position: relative;
}
.home-main .home-slider {
  margin-top: 3em;
  position: absolute;
  right: 0;
  width: 90%;
  overflow: visible;
}
.home-main .home-slider .slick-prev,
.home-main .home-slider .slick-next {
  position: absolute;
  top: 40%;
  height: 100px;
  width: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: transparent;
  text-indent: 75px;
  overflow: hidden;
}
.home-main .home-slider .slick-prev:hover,
.home-main .home-slider .slick-next:hover {
  cursor: pointer;
}
.home-main .home-slider .slick-prev {
  background-image: url(../../images/left-arrow.svg);
  left: -25px;
  z-index: 10;
}
.home-main .home-slider .slick-next {
  background-image: url(../../images/right-arrow.svg);
  right: 25px;
}
.home-main .home-slider .slick-track {
  overflow: visible;
}
.home-main .home-slider .slick-track .slick-slide {
  margin: 0 2em;
  display: block;
  position: relative;
  height: 400px;
  background-color: #e1e1e1;
  background: linear-gradient(0deg, #446f99 0%, #446f99 6%, #e1e1e1 6%);
  transition: 0.2s all;
}
.home-main .home-slider .slick-track .slick-slide:hover {
  scale: 1.05;
}
.home-main .home-slider .slick-track .slick-slide a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
}
.home-main .home-slider .slick-track .slick-slide a p {
  padding: 20% 1em 0 1em;
  width: 250px;
  font-size: 1.3em;
  font-weight: 700;
}

.detail-main {
  display: flex;
  flex-direction: row;
  position: relative;
}
.detail-main .sidebar {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color: #F5F5F5;
  overflow: hidden;
  transition: 0.2s all;
}
.detail-main .sidebar.grow {
  width: 30%;
}
.detail-main .sidebar .text-wrapper {
  height: calc(100% - 160px);
  overflow-y: scroll;
  padding: 1em 2em;
}
.detail-main .sidebar .text-wrapper.red {
  background-color: red;
}
.detail-main .sidebar .text-wrapper.blue {
  background-color: blue;
}
.detail-main .sidebar .text-wrapper::-webkit-scrollbar {
  display: none;
}
.detail-main .sidebar .text-wrapper #sub-container span[data-begin] {
  cursor: pointer;
}
.detail-main .sidebar .text-wrapper #sub-container span[data-begin].speaking {
  background-color: #bcbcb7;
  box-shadow: 0px 0px 4px #bcbcb7;
}
.detail-main .sidebar .text-wrapper #sub-container span[data-begin]:hover, .detail-main .sidebar .text-wrapper #sub-container span[data-begin]:focus {
  background-color: #d2d2c6;
  box-shadow: 0px 0px 4px #d2d2c6;
}
.detail-main .sidebar .text-wrapper #sub-container.visible {
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.detail-main .sidebar .text-wrapper p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  margin: 1em 0;
  line-height: 1.4em;
  text-align: justify;
}
.detail-main .sidebar .text-wrapper p:first-child {
  margin: 0 0 1em 0;
}
.detail-main .audio-player {
  z-index: 99;
  position: fixed;
  left: 1.5em;
  bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 435px;
  height: 100px;
  border-radius: 23px;
  background-color: #F5F5F5;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}
.detail-main .audio-player .audio-controls {
  margin: 0;
  margin-bottom: 10px;
  width: fit-content;
}
.detail-main .audio-player .audio-controls .icon {
  margin: 0px;
  height: 45px;
  width: 50px;
  background-color: transparent;
  border: none;
  transition: 0.05s ease-in;
}
.detail-main .audio-player .audio-controls .icon svg {
  margin: 0;
  height: 40px;
  width: 40px;
}
.detail-main .audio-player .audio-controls .icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.detail-main .audio-player .audio-controls .play-icon.hide {
  display: none;
  visibility: 0;
  opacity: 0;
  fill: none;
}
.detail-main .audio-player .audio-controls .pause-icon.hide {
  display: none;
  visibility: 0;
  opacity: 0;
}
.detail-main .audio-player .audio-track-wrapper {
  width: 100%;
  position: relative;
}
.detail-main .audio-player .audio-track-wrapper .audio-track {
  display: flex;
  justify-content: center;
  align-items: center;
  --seek-before-width: 0%;
}
.detail-main .audio-player .audio-track-wrapper .audio-track span {
  font-family: sans-serif;
  font-weight: bold;
  color: #7E7E7E;
  width: fit-content;
}
.detail-main .audio-player .audio-track-wrapper .audio-track span:first-child {
  margin-right: 1em;
}
.detail-main .audio-player .audio-track-wrapper .audio-track span:last-child {
  margin-left: 1em;
}
.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  position: relative;
}
.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range]:before {
  position: absolute;
  content: "";
  height: 6px;
  background-color: #7E7E7E;
  width: var(--seek-before-width);
}
.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background-color: #D3D3D3;
}
.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: -5px 0 0 0;
  background-color: #fff;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}
.detail-main .audio-player .audio-track-wrapper .volume-wrapper {
  position: absolute;
  bottom: 4em;
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.detail-main .audio-player .audio-track-wrapper .volume-wrapper input[type=range] {
  width: 100px;
  margin-bottom: 1em;
}
.detail-main #panorama {
  height: 100vh;
  width: 100%;
}
.detail-main #panorama .pnlm-hotspot-base:hover {
  cursor: pointer;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
