// Breakpoints
$xxl: 1440px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

//sass --watch scss:css

// Colors
$offwhite: #F5F5F5;

.home-main {
    position: relative;

    .home-slider {
        margin-top: 3em;
        position: absolute;
        right: 3em;
        left: 3em;
        width: 100%;
        overflow: visible;

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 40%;
            height: 100px;
            width: 40px;
            border: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px;
            background-color: transparent;
            text-indent: 75px;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }
        }

        .slick-prev {
            background-image: url(../../images/left-arrow.svg);
            left: -25px;
            z-index: 10;
        }

        .slick-next {
            background-image: url(../../images/right-arrow.svg);
            right: 75px;
        }

        .slick-track {
            overflow: visible;

            .slick-slide {
                margin: 0 2em;
                display: block;
                position: relative;
                height: 400px;
                background-color: #e1e1e1;
                background: linear-gradient(0deg, rgba(68, 111, 153, 1) 0%, rgba(68, 111, 153, 1) 6%, #e1e1e1 6%);
                transition: 0.2s all;

                &:hover {
                    scale: 1.05;
                }

                a {
                    text-decoration: none;
                    color: black;
                    display: block;
                    height: 100%;
                    width: 100%;

                    p {
                        padding: 20% 1em 0 1em;
                        width: 250px;
                        font-size: 1.3em;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.difficulty-main {

    h1 {
        margin-top: 3em;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: row;
        margin-top: 3em;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);


        a {
            display: block;
            width: 250px;
            height: 250px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.3em;
            color: #000;
            transition: 0.2s all;

            &:hover {
                scale: 1.05;
                // opacity: 0.9;
            }

            span {
                display: block;
                text-align: center;
                margin-top: 42%;

            }
        }

        a:nth-child(1) {
            background-color: #969E89;

            &:hover {
                background-color: #7e8470;
            }
        }

        a:nth-child(2) {
            background-color: #ECC290;
            margin-right: 2em;
            margin-left: 2em;

            &:hover {
                background-color: #c3a179;
            }
        }

        a:nth-child(3) {
            background-color: #CB8282;

            &:hover {
                background-color: #a96c6c;
            }
        }
    }
}

.detail-main {
    display: flex;
    flex-direction: row;
    position: relative;

    .sidebar {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        height: 100vh;
        background-color: $offwhite;
        overflow: hidden;
        transition: 0.2s all;

        &.grow {
            width: 30%;
        }

        .text-wrapper {
            height: calc(100% - 160px);
            overflow-y: scroll;
            padding: 1em 2em;

            &.red {
                background-color: red;
            }

            &.blue {
                background-color: blue;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            #sub-container {

                span[data-begin] {
                    cursor: pointer;

                    &.speaking {
                        background-color: rgb(220, 220, 56);
                        box-shadow: 0px 0px 4px rgb(220, 220, 56);
                    }

                    &:hover,
                    &:focus {
                        background-color: rgb(220, 220, 56);
                        box-shadow: 0px 0px 4px rgb(220, 220, 56);
                    }
                }

                &.visible {
                    height: 0;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            #information-container {
                img {
                    width: 100%;
                }
            }

            p {
                font-family: sans-serif;
                font-weight: bold;
                font-size: 1.3em;
                margin: 1em 0;
                line-height: 1.4em;
                text-align: justify;

                &:first-child {
                    margin: 0 0 1em 0;
                }
            }
        }
    }

    .audio-player {
        z-index: 10;
        position: fixed;
        left: 1.5em;
        bottom: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 435px;
        height: 100px;
        border-radius: 23px;
        background-color: $offwhite;
        filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.25));

        .audio-controls {
            margin: 0;
            margin-bottom: 10px;
            width: fit-content;

            .icon {
                margin: 0px;
                height: 45px;
                width: 50px;
                background-color: transparent;
                border: none;
                transition: 0.05s ease-in;

                svg {
                    margin: 0;
                    height: 40px;
                    width: 40px;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }

            .play-icon {
                &.hide {
                    display: none;
                    visibility: 0;
                    opacity: 0;
                    fill: none;
                }
            }

            .pause-icon {
                &.hide {
                    display: none;
                    visibility: 0;
                    opacity: 0;
                }
            }
        }

        .audio-track-wrapper {
            width: 100%;
            position: relative;

            .audio-track {
                display: flex;
                justify-content: center;
                align-items: center;
                --seek-before-width: 0%;

                span {
                    font-family: sans-serif;
                    font-weight: bold;
                    color: #7E7E7E;
                    width: fit-content;

                    &:first-child {
                        margin-right: 1em;
                    }

                    &:last-child {
                        margin-left: 1em;
                    }
                }

                input[type="range"] {
                    -webkit-appearance: none;
                    width: 300px;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        height: 6px;
                        background-color: #7E7E7E;
                        width: var(--seek-before-width)
                    }

                    &::-webkit-slider-runnable-track {
                        height: 6px;
                        cursor: pointer;
                        background-color: #D3D3D3;
                    }

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        margin: -5px 0 0 0;
                        background-color: #fff;
                        filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
                    }
                }
            }

            .volume-wrapper {
                position: absolute;
                bottom: 4em;
                display: flex;
                flex-direction: row;
                width: fit-content;

                input[type="range"] {
                    width: 100px;
                    margin-bottom: 1em;
                }


            }
        }
    }

    #panorama {
        height: 100vh;
        width: 80%;
        position: absolute;
        right: 0;

        .pnlm-hotspot-base {

            &:hover {
                cursor: pointer;
            }
        }
    }

    .pick-side {
        height: 100vh;
        width: 80%;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        backdrop-filter: blur(2px);

        a {
            display: block;
            flex: 1;
            height: inherit;
            transition: 0.2s all;
            color: #000;

            &:hover {
                cursor: pointer;

                p {
                    color: #fff;
                }
            }

            p {
                font-size: 1.5em;
                position: absolute;
                // left: 50%;
                top: 50%;
                margin-left: 17%;
                transition: 0.2s all;
            }
        }

        .go-left {
            background-color: rgba(126, 126, 126, 0.8);

            &:hover {
                background-color: rgba(126, 126, 126, 0.95);

            }
        }

        .go-right {
            background-color: rgba(174, 174, 174, 0.8);

            &:hover {
                background-color: rgba(174, 174, 174, 0.95);
            }
        }
    }

    .question-background {
        display: none;
        position: absolute;
        z-index: 20;
        height: 100vh;
        width: 100vw;
        background-color: #484848c2;
        backdrop-filter: blur(3px);

        &.visible {
            display: block;
        }

        .question-container-one,
        .question-container-two {
            background: #fff;
            width: 100vw;
            padding: 3em;
            display: none;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            &.visible {
                display: flex;
            }


            div {
                min-width: 500px;
                max-width: 900px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 3em;

                &>p {
                    font-size: 1.3em;
                    padding-bottom: 1em;

                    span {
                        margin-left: -21px;
                    }
                }

                textarea {
                    max-width: 900px;
                    height: 5em;
                    font-size: 1.3em;
                    font-family: sans-serif;
                    resize: none;
                    border: none;
                    border-bottom: 3px solid #000;
                }

                label {
                    margin-bottom: 1.5em;

                    &:hover {
                        cursor: pointer;
                    }

                    input {
                        display: none;

                        &:checked+p {
                            span {
                                background-color: #7E7E7E;
                                color: white;
                            }
                        }
                    }

                    p {
                        font-size: 1.3em;
                        width: 100%;

                        span {
                            border-radius: 5px;
                            background-color: #D3D3D3;
                            margin-right: 0.5em;
                            padding: 0.5em;

                            &:nth-child(2) {
                                display: inline-block;
                                width: calc(100% - 62px);
                            }
                        }
                    }
                }
            }

            figure {
                display: flex;
                flex-direction: row;

                img {
                    height: 250px;
                    width: auto;
                }

                figcaption {
                    width: 190px;
                    margin-left: 1em;
                    font-size: 1.1em;
                }
            }

            button {
                height: 40px;
                position: relative;
                background-color: #7E7E7E;
                border: none;
                color: #fff;
                font-size: 1.3em;

                @media (min-width: 1536px) {
                    width: 410px;
                }

                @media (min-width: 1717px) {
                    width: 200px;
                }

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background-color: #6a6a6a;
                }

                &.save-button {
                    transform: translate(0px, 210px);
                }

                &.next-button {
                    transform: translate(0px, 286px);
                }
            }
        }
    }
}