<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>De Germanen boven de Rijn</title>
</head>

<body>
    <main class="detail-main">
        <%- include('../partials/sidebar') %>
            <%- include('../partials/audioplayer') %>
                <div id="panoramatwo"></div>

    </main>
    <script src="scripts/read-along.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/secondpanellumSetup.js"></script>
    <!-- <script src="scripts/detail.js"></script> -->
</body>

</html>