<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Select Difficulty</title>
</head>

<body>
    <header class="home-header">
        <h1>Sidestory</h1>
    </header>
    <main class="difficulty-main">
        <h1>Selecteer de moelijkheid van de vragen</h1>
        <div>
            <a href="/explain">
                <span>Beginner</span>
                <div class="bean"></div>
            </a>
            <a href="/explain">
                <span>Tussenliggend</span>
                <div class="bean"></div>
            </a>
            <a href="/explain">
                <span>Gevorderd</span>
                <div class="bean"></div>
            </a>
        </div>
    </main>
    <!-- <script src="scripts/slick.min.js"></script>
    <script src="scripts/home.js"></script> -->
</body>

</html>