<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Select Difficulty</title>
</head>

<body>
    <header class="home-header">
        <h1>Sidestory</h1>
    </header>
    <main class="difficulty-main">
        <h1>Selecteer de moelijkheid van de vragen</h1>
        <div>
            <a href="/detail"><span>Beginner</span></a>
            <a href="/detail"><span>Tussenliggend</span></a>
            <a href="/detail"><span>Gevorderd</span></a>
        </div>
    </main>
    <script src="scripts/slick.min.js"></script>
    <script src="scripts/home.js"></script>
</body>

</html>