<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Chapter completed</title>
</head>

<body>
    <header class="home-header">
        <h1>Sidestory</h1>
    </header>
    <main class="end-main">
        <h1>Goed gedaan! Je hebt dit hoofdstuk afgerond</h1>
        <div class="question-result right">
            <span class="question-number">1.</span>Je had de vraag <span class="result">goed</span> omdat etiam rhoncus.
            Maecenas tempus, tellus
            eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
            blandit vel, luctus pulvinar, hendrerit id, lorem.
        </div>
        <div class="question-result wrong">
            <span class="question-number">2.</span>Je had de vraag <span class="result">fout</span> omdat etiam rhoncus.
            Maecenas tempus, tellus
            eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
            blandit vel, luctus pulvinar, hendrerit id, lorem.
        </div>
        <div class="question-result">
            <span class="question-number">3.</span>Dit was een open vraag. n.v.t
        </div>
        <div class="question-result right">
            <span class="question-number">4.</span>Je had de vraag <span class="result">fout</span> omdat etiam rhoncus.
            Maecenas tempus, tellus
            eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
            blandit vel, luctus pulvinar, hendrerit id, lorem.
        </div>
        <a class="replay-chapter" href="/detail">Doe hoofstuk opnieuw</a>
        <a class="end-chapter" href="/">Beëindig hoofdstuk</a>
    </main>
    <!-- <script src="scripts/end.js"></script> -->
</body>

</html>