<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Chapter completed</title>
</head>

<body>
    <header class="home-header">
        <h1>Sidestory</h1>
    </header>
    <main class="end-main">
        <h1>Goed gedaan! Je hebt dit hoofdstuk afgerond</h1>
        <div class="question-result multiple-choice">
            <span class="question-number">1.</span>Je had de vraag <span class="result"></span>. Hier komt een uitleg te
            staan waarom je de vraag dan <span class="result"></span> had.
        </div>
        <div class="question-result waiting">
            <span class="question-number">2.</span>Dit was een open vraag en moet eerst nagekeken worden door je docent.
        </div>
        <div class="question-result waiting">
            <span class="question-number">3.</span>Dit was een open vraag en moet eerst nagekeken worden door je docent.
        </div>
        <div class="question-result multiple-choice">
            <span class="question-number">4.</span>Je had de vraag <span class="result"></span>. Hier komt een uitleg te
            staan waarom je de vraag dan <span class="result"></span> had.
        </div>
        <div class="question-result multiple-choice">
            <span class="question-number">5.</span>Je had de vraag <span class="result"></span>. Hier komt een uitleg te
            staan waarom je de vraag dan <span class="result"></span> had.
        </div>
        <div class="question-result waiting">
            <span class="question-number">6.</span>Dit was een open vraag en moet eerst nagekeken worden door je docent.
        </div>
        <div class="question-result multiple-choice">
            <span class="question-number">7.</span>Je had de vraag <span class="result"></span>. Hier komt een uitleg te
            staan waarom je de vraag dan <span class="result"></span> had.
        </div>
        <div class="question-result waiting">
            <span class="question-number">8.</span>Dit was een open vraag en moet eerst nagekeken worden door je docent.
        </div>
        <div class="question-result multiple-choice bottom">
            <span class="question-number">9.</span>Je had de vraag <span class="result"></span>. Hier komt een uitleg te
            staan waarom je de vraag dan <span class="result"></span> had.
        </div>

        <a class="replay-chapter" href="/detail">Doe hoofstuk opnieuw</a>
        <a class="end-chapter" href="/">Beëindig hoofdstuk</a>

    </main>
    <script src="scripts/end.js"></script>
</body>

</html>