<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Home</title>
</head>

<body>
    <header class="home-header">
        <h1>Sidestory</h1>
    </header>
    <main class="home-main">
        <div class="home-slider">
            <div>
                <a href="/difficulty" class="">
                    <p>De noordelijke grens van het Romeinse Rijk</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <p>De Germanen boven de Rijn</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <p>Julius Ceasar</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <p>De Bataven in het Romense Rijk</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <p>De Bataafse opstand</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <p>De Romeinse Keizers</p>
                </a>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="scripts/slick.min.js"></script>
    <script src="scripts/home.js"></script>
</body>

</html>