<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Home</title>
</head>

<body>
    <header class="home-header">
        <h1>Sidestory</h1>
    </header>
    <main class="home-main">
        <h1>Hoofdstukken</h1>
        <div class="home-slider">
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/tothier-beeld.jpg" alt="">
                    <p class="chapter-title">De noordelijke grens van het Romeinse Rijk</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/limes.png" alt="">
                    <p class="chapter-title">De Germanen boven de Rijn</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/julius-ceasar.jpg" alt="">
                    <p class="chapter-title">Julius Ceasar</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/bataafse-opstand.jpg" alt="">
                    <p class="chapter-title">De Bataafse opstand</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/julius-civilus.jpg" alt="">
                    <p class="chapter-title">Julius Civilus</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/keizers.jpg" alt="">
                    <p class="chapter-title">De Romeinse Keizers</p>
                </a>
            </div>
        </div>
        <div class="home-slider">
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/limes.png" alt="">
                    <p class="chapter-title">De Germanen boven de Rijn</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/julius-civilus.jpg" alt="">
                    <p class="chapter-title">Julius Civilus</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/bataafse-opstand.jpg" alt="">
                    <p class="chapter-title">De Bataafse opstand</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/tothier-beeld.jpg" alt="">
                    <p class="chapter-title">De noordelijke grens van het Romeinse Rijk</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/keizers.jpg" alt="">
                    <p class="chapter-title">De Romeinse Keizers</p>
                </a>
            </div>
            <div>
                <a href="/difficulty" class="">
                    <img class="slide-image" src="../../images/julius-ceasar.jpg" alt="">
                    <p class="chapter-title">Julius Ceasar</p>
                </a>
            </div>
        </div>
        <section class="skewed"></section>
    </main>
    <script type="text/javascript" src="scripts/jQuery.js"></script>
    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    <script src="scripts/slick.min.js"></script>
    <script src="scripts/home.js"></script>
</body>

</html>